mppt-stack/nodered/flows.json
[{"id":"tab-ingestion","type":"tab","label":"Ingestion","disabled":false,"info":""},{"id":"tab-overview","type":"tab","label":"Overview","disabled":false,"info":""},{"id":"tab-control","type":"tab","label":"Control Tab","disabled":false,"info":""},{"id":"mqtt-broker-config","type":"mqtt-broker","name":"Mosquitto","broker":"mosquitto","port":"1883","clientid":"nodered-mppt","autoConnect":true,"usetls":false,"protocolVersion":"5","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"influxdb-config","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"solar","name":"InfluxDB 2.0","usetls":false,"tls":"","influxdbVersion":"2.0","url":"${INFLUXDB_URL}","timeout":"","rejectUnauthorized":false},{"id":"ui-theme-main","type":"ui-theme","name":"Default Theme","colors":{"surface":"#1e293b","primary":"#3b82f6","bgPage":"#0f172a","groupBg":"#1e293b","groupOutline":"#334155"},"sizes":{"pagePadding":"12px","groupGap":"12px","groupBorderRadius":"8px","widgetGap":"6px"}},{"id":"ui-base-main","type":"ui-base","name":"MPPT Dashboard","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"navigationStyle":"default"},{"id":"ui-page-overview","type":"ui-page","name":"Overview","ui":"ui-base-main","path":"/overview","icon":"home","layout":"grid","theme":"ui-theme-main","order":1},{"id":"ui-page-control","type":"ui-page","name":"Control","ui":"ui-base-main","path":"/control","icon":"sliders-h","layout":"grid","theme":"ui-theme-main","order":2},{"id":"ui-grp-fleet","type":"ui-group","name":"Fleet Status","page":"ui-page-overview","width":"12","order":1},{"id":"ui-grp-devices","type":"ui-group","name":"Devices","page":"ui-page-overview","width":"12","order":2},{"id":"ui-grp-dev-sel","type":"ui-group","name":"Device Selection","page":"ui-page-control","width":"12","order":1,"visible":true,"disabled":false},{"id":"ui-grp-battery","type":"ui-group","name":"Battery","page":"ui-page-control","width":"6","order":2},{"id":"ui-grp-lighting","type":"ui-group","name":"Lighting","page":"ui-page-control","width":"6","order":3},{"id":"ui-grp-dimming","type":"ui-group","name":"Dimming","page":"ui-page-control","width":"6","order":4},{"id":"ui-grp-advanced","type":"ui-group","name":"Advanced","page":"ui-page-control","width":"6","order":5},{"id":"ui-grp-actions","type":"ui-group","name":"Actions","page":"ui-page-control","width":"12","order":6},{"id":"ui-grp-cmdlog","type":"ui-group","name":"Command Log","page":"ui-page-control","width":"12","order":7},{"id":"da4953e5005e8d1c","type":"global-config","env":[],"modules":{"node-red-contrib-influxdb":"0.7.0","@flowfuse/node-red-dashboard":"1.30.2","node-red-contrib-protobuf":"1.1.2","node-red-node-email":"5.2.3"}},{"id":"b5f019f3f202939d","type":"protobuf-file","protopath":"/data/mppt.proto","watchFile":false,"keepCase":true},{"id":"mi-info","type":"mqtt in","z":"tab-ingestion","name":"mppt/+/+/+/info","topic":"mppt/+/+/+/info","qos":"1","datatype":"buffer","broker":"mqtt-broker-config","inputs":0,"x":80,"y":40,"wires":[["6ef6f1980fbf2a2d"]]},{"id":"fn-cache-info","type":"function","z":"tab-ingestion","name":"Cache info","func":"const p = msg.topic.split('/');\nif (p.length < 5) return null;\nconst serial = p[3];\nconst d = msg.payload || {};\nconst infoMap = global.get('info_map') || {};\n\ninfoMap[serial] = {\n    type:             d.device_type || d.type || '',\n    production_date:  d.production_date || '',\n    hw_version:       d.hw_version || 0,\n    serial_number:    d.serial_number || serial\n};\n\nglobal.set('info_map', infoMap);\nreturn null;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":40,"wires":[["link-to-control"]]},{"id":"mi-settings","type":"mqtt in","z":"tab-ingestion","name":"mppt/+/+/+/settings","topic":"mppt/+/+/+/settings","qos":"1","datatype":"buffer","broker":"mqtt-broker-config","inputs":0,"x":80,"y":100,"wires":[["dc935383a727588e"]]},{"id":"fn-cache-settings","type":"function","z":"tab-ingestion","name":"Cache settings","func":"const p = msg.topic.split('/');\nconst serial = p[3];\nconst d = msg.payload || {};\nconst settingsMap = global.get('settings_cache') || {};\n\nsettingsMap[serial] = {\n    serial:                      d.serial               || serial,\n    battery_type_index:          d.battery_type_index         || 0,\n    capacity_ah:                 d.capacity_ah                || 100,\n    lvd_voltage_mv:              d.lvd_voltage_mv             || 11000,\n    lvd_mode_voltage:            d.lvd_mode_voltage           || false,\n    night_mode_index:            d.night_mode_index           || 1,\n    evening_minutes_mn:          d.evening_minutes_mn         || 0,\n    morning_minutes_mn:          d.morning_minutes_mn         || 0,\n    night_threshold_mv:          d.night_threshold_mv         || 11500,\n    night_mode_dimming_index:    d.night_mode_dimming_index   || 0,\n    evening_minutes_dimming_mn:  d.evening_minutes_dimming_mn || 0,\n    morning_minutes_dimming_mn:  d.morning_minutes_dimming_mn || 0,\n    dimming_pct:                 d.dimming_pct                || 100,\n    base_dimming_pct:            d.base_dimming_pct           || 30,\n    dali_power_enable:           d.dali_power_enable          || false,\n    alc_dimming_enable:          d.alc_dimming_enable         || false\n};\nglobal.set('settings_cache', settingsMap);\n\n// Output 0: re-trigger device select if this is the currently selected device\n// Output 1: always refresh dropdown options\nconst selected = flow.get('selected_serial');\nconst repopulate = (selected === serial) ? { payload: serial } : null;\nreturn [repopulate, {}];","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":100,"wires":[["link-to-control"]]},{"id":"mi-online","type":"mqtt in","z":"tab-ingestion","name":"mppt/+/+/+/online","topic":"mppt/+/+/+/online","qos":"0","datatype":"auto","broker":"mqtt-broker-config","inputs":0,"x":80,"y":160,"wires":[["fn-detect-offline"]]},{"id":"fn-detect-offline","type":"function","z":"tab-ingestion","name":"Detect offline","func":"const p = msg.topic.split('/');\nconst serial = p[3];\nconst zone = p[1];\nconst isOnline = msg.payload.toString().trim() === '1';\nconst key = 'online_' + serial;\nconst wasOnline = context.get(key);\ncontext.set(key, isOnline);\n\nconst onlineMap = global.get('online_map') || {};\nonlineMap[serial] = { online: isOnline, ts: new Date().toISOString() };\nglobal.set('online_map', onlineMap);\n\nif (!isOnline && wasOnline !== false) {\n    const ts = new Date().toISOString();\n    return [{ payload: {\n        severity: 'critical', condition: 'Device offline',\n        emailNeeded: true, serial, zone, ts,\n        subject: '[MPPT CRITICAL] ' + serial + ' offline',\n        body: 'Device ' + serial + ' (zone: ' + zone + ') went offline at ' + ts\n    }}];\n}\nif (isOnline && wasOnline === false) {\n    node.log(serial + ' back online');\n}\nreturn null;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":160,"wires":[["fn-fmt-email"]]},{"id":"fn-fmt-email","type":"function","z":"tab-ingestion","name":"Format email","func":"if (!msg.payload || !msg.payload.subject) return null;\nmsg.topic = msg.payload.subject;\nmsg.payload = msg.payload.body;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":160,"wires":[["email-out"]]},{"id":"email-out","type":"e-mail","z":"tab-ingestion","d":true,"server":"${SMTP_HOST}","port":"${SMTP_PORT}","authtype":"BASIC","saslformat":false,"token":"oauth2Response.access_token","secure":false,"tls":true,"name":"${ALERT_EMAIL}","dname":"Alert email","x":790,"y":160,"wires":[]},{"id":"mi-state","type":"mqtt in","z":"tab-ingestion","name":"mppt/+/+/+/state","topic":"mppt/+/+/+/state","qos":"0","datatype":"buffer","broker":"mqtt-broker-config","inputs":0,"x":80,"y":240,"wires":[["a1b37ebb5d66c012"]]},{"id":"fn-parse-state","type":"function","z":"tab-ingestion","name":"Parse state","func":"const p = msg.topic.split('/');\nif (p.length < 5) return null;\nmsg.zone       = p[1];\nmsg.gateway_id = p[2];\nmsg.serial     = p[3];\n\nconst d = msg.payload || {};\n\nconst infoMap = global.get('info_map') || {};\nconst info    = infoMap[msg.serial] || {};\n\nmsg.gen = {\n    hw_version:         d.hw_version         || info.hw_version || 0,\n    serial_number:      d.serial             || info.serial_number || msg.serial,\n    firmware_version:   d.firmware_version   || 0,\n    internal_temp_c:    d.internal_temp_c    || 0,\n    external_temp_c:    d.external_temp_c    || 0,\n    controller_op_days: d.controller_op_days || 0,\n    timestamp:          Math.floor(Date.now() / 1000)\n};\n\nmsg.bat = {\n    battery_voltage_mv:               d.battery_voltage_mv       || 0,\n    battery_soc_pct:                 d.battery_soc_pct         || 0,\n    charge_current_a:        d.charge_current_a        || 0,\n    charge_power_w:          d.charge_power_w          || 0,\n    end_of_charge_voltage_mv: d.end_of_charge_voltage_mv || 0,\n    charge_mode:             d.charge_mode             || 'unknown',\n    is_night:                !!d.is_night,\n    bat_op_days:             d.bat_op_days             || 0,\n    energy_in_daily_wh:      d.energy_in_daily_wh      || 0,\n    energy_out_daily_wh:     d.energy_out_daily_wh     || 0,\n    energy_retained_wh:      d.energy_retained_wh      || 0,\n    detected:                !!d.battery_detected\n};\n\nmsg.load = {\n    load_on:        !!d.load_on,\n    night_mode:     !!d.night_mode,\n    lvd_active:     !!d.lvd_active,\n    user_disconnect:!!d.user_disconnect,\n    over_current:   !!d.over_current,\n    load_current_ma10:      d.load_current_ma10 || 0,\n    load_power_w:        d.load_power_w   || 0\n};\n\nmsg.pv = {\n    pv_voltage_mv:        d.pv_voltage_mv        || 0,\n    pv_target_voltage_mv: d.pv_target_voltage_mv || 0,\n    detected:         !!d.pv_detected\n};\n\nmsg.night = {\n    time_since_dusk_min: d.time_since_dusk_min || 0,\n    average_length_min:  d.average_length_min  || 0\n};\n\nmsg.led = {\n    led_voltage_mv:   d.led_voltage_mv || 0,\n    led_current_ma10:   d.led_current_ma10 * 10 || 0,\n    power_w:     d.led_power_w   || 0,\n    status:      d.led_status    || 'Unknown',\n    dali_active: !!d.dali_active\n};\n\nmsg.load.state_mask = d.load_state_mask || 0;\nmsg.bat.charge_state_mask = d.charge_state_mask || 0;\nmsg.gen.flags = d.flags || 0;\nconst f = d.fault_mask;\nmsg.faults = {\n    battery_over_voltage:   (f & 0x01) ? 1 : 0,\n    pv_over_voltage:        (f & 0x02) ? 1 : 0,\n    controller_over_temp:   (f & 0x04) ? 1 : 0,\n    charge_over_current:    (f & 0x08) ? 1 : 0,\n    lvd_active:             (f & 0x10) ? 1 : 0,\n    over_discharge_current: (f & 0x20) ? 1 : 0,\n    battery_over_temp:      (f & 0x40) ? 1 : 0,\n    battery_under_temp:     (f & 0x80) ? 1 : 0,   \n};\n\nmsg.hw_version = String(msg.gen.hw_version);\n\nconst fleet = global.get('fleet') || {};\nfleet[msg.serial] = {\n    serial: msg.serial, zone: msg.zone, gateway_id: msg.gateway_id,\n    hw_version: msg.hw_version,\n    bat: msg.bat, load: msg.load, pv: msg.pv, faults: msg.faults,\n    gen: msg.gen, ts: msg.gen.timestamp\n};\nglobal.set('fleet', fleet);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":240,"wires":[["fn-alert","fn-build-tele","link-to-control","fn-build-faults"]]},{"id":"fn-alert","type":"function","z":"tab-ingestion","name":"Alert logic","func":"const bat = msg.bat, load = msg.load, faults = msg.faults;\nconst serial = msg.serial, zone = msg.zone;\nconst ts = msg.gen.timestamp || new Date().toISOString();\n\nconst checks = [\n    { cond: bat.soc_pct >= 10 && bat.soc_pct < 20, sev: 'warning',  email: false,\n      msg: 'Battery SOC low (' + bat.soc_pct + '%)' },\n    { cond: bat.soc_pct < 10,                       sev: 'critical', email: true,\n      msg: 'Battery SOC critical (' + bat.soc_pct + '%)' },\n    { cond: !!(faults.lvd_active || load.lvd_active), sev: 'critical', email: true,\n      msg: 'LVD active' },\n    { cond: !!faults.battery_over_voltage,  sev: 'critical', email: true, msg: 'Battery over voltage' },\n    { cond: !!faults.over_discharge_current,sev: 'critical', email: true, msg: 'Over discharge current' },\n    { cond: !!faults.battery_over_temp,     sev: 'critical', email: true, msg: 'Battery over temperature' },\n    { cond: !!faults.battery_under_temp,    sev: 'critical', email: true, msg: 'Battery under temperature' },\n];\n\nconst out = checks.filter(c => c.cond).map(c => ({ payload: {\n    severity: c.sev, condition: c.msg, emailNeeded: c.email,\n    serial, zone, ts,\n    subject: '[MPPT ' + c.sev.toUpperCase() + '] ' + serial + ' - ' + c.msg,\n    body: 'Device: ' + serial + '\\nZone: ' + zone + '\\nCondition: ' + c.msg + '\\nTimestamp: ' + ts\n}}));\n\nif (!out.length) return null;\nconst email = out.filter(m => m.payload.emailNeeded);\nreturn [ email.length ? email : null, out ];","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":240,"wires":[["fn-fmt-email"]]},{"id":"fn-build-tele","type":"function","z":"tab-ingestion","name":"Build telemetry point","func":"const tags = {\n    zone: msg.zone, gateway_id: msg.gateway_id, serial: msg.serial,\n    hw_version: msg.hw_version || '-1',\n    charge_mode: msg.bat.charge_mode || 'Unknown'\n};\n\nconst fields = {\n    battery_voltage_mv:  msg.bat.battery_voltage_mv,\n    soc_pct:             msg.bat.battery_soc_pct,\n    charge_current_ma10: msg.bat.charge_current_ma10,\n    charge_power_w:      msg.bat.charge_power_w,\n    is_night:            msg.bat.is_night ? 1 : 0,\n    energy_in_daily_wh:  msg.bat.energy_in_daily_wh,\n    energy_out_daily_wh: msg.bat.energy_out_daily_wh,\n    energy_retained_wh:  msg.bat.energy_retained_wh,\n    load_on:             msg.load.load_on ? 1 : 0,\n    lvd_active:          (msg.load.lvd_active || msg.faults.lvd_active) ? 1 : 0,\n    load_current_ma10:   msg.load.load_current_ma10 * 10,\n    load_power_w:        msg.load.load_power_w,\n    pv_voltage_mv:       msg.pv.pv_voltage_mv,\n    pv_target_voltage_mv: msg.pv.pv_target_voltage_mv,\n    internal_temp_c:     msg.gen.internal_temp_c,\n    external_temp_c:     msg.gen.external_temp_c,\n    led_voltage_mv:      msg.led.led_voltage_mv,\n    led_current_ma10: msg.led.led_current_ma10 * 10,\n    led_power_w:         msg.led.power_w,\n    load_state_mask:     msg.load.state_mask,\n    charge_state_mask:   msg.bat.charge_state_mask,\n    flags:               msg.gen.flags\n};\n\nmsg.payload = [fields, tags];\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":340,"wires":[["influx-tele"]]},{"id":"fn-build-faults","type":"function","z":"tab-ingestion","name":"Build faults point","func":"const f = msg.faults || {};\nconst tags = {\n    zone: msg.zone, gateway_id: msg.gateway_id,\n    serial: msg.serial, hw_version: msg.hw_version || '-1'\n};\nconst fields = f;\nmsg.payload = [fields, tags];\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":400,"wires":[["influx-faults"]]},{"id":"influx-tele","type":"influxdb out","z":"tab-ingestion","influxdb":"influxdb-config","name":"Write telemetry","measurement":"telemetry","precision":"ms","retentionPolicy":"","database":"","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"${INFLUXDB_ORG}","bucket":"${INFLUXDB_BUCKET}","x":760,"y":340,"wires":[]},{"id":"influx-faults","type":"influxdb out","z":"tab-ingestion","influxdb":"influxdb-config","name":"Write faults","measurement":"faults","precision":"ms","retentionPolicy":"","database":"","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"${INFLUXDB_ORG}","bucket":"${INFLUXDB_BUCKET}","x":760,"y":400,"wires":[]},{"id":"mi-datalog","type":"mqtt in","z":"tab-ingestion","name":"mppt/+/+/+/datalog/#","topic":"mppt/+/+/+/datalog/#","qos":"1","datatype":"buffer","broker":"mqtt-broker-config","inputs":0,"x":80,"y":500,"wires":[["dd2afd938d80ebfb"]]},{"id":"fn-process-datalog","type":"function","z":"tab-ingestion","name":"Process Datalog","func":"const p = msg.topic.split(\"/\");\nif (p.length < 6) return null;\nconst zone = p[1], gateway = p[2], serial = p[3], sub = p[5];\nconst dl = msg.payload;\nconst infoMap = global.get(\"info_map\") || {};\nconst info = infoMap[serial] || {};\nconst hw_version = String(info.hw_version || 0);\nconst ct = { serial, gateway_id: gateway, zone, hw_version };\n\nfunction unpackStateFlags(sf) {\n    return {\n        load_disconnect:  (sf >> 0) & 1, full_charge:       (sf >> 1) & 1,\n        pv_over_current:  (sf >> 2) & 1, load_over_current: (sf >> 3) & 1,\n        bat_over_voltage: (sf >> 4) & 1, low_soc:           (sf >> 5) & 1,\n        temp_pv_over:     (sf >> 6) & 1, temp_pv_low:       (sf >> 7) & 1,\n        temp_load_over:   (sf >> 8) & 1\n    };\n}\n\nfunction mapEntry(e, i, indexKey) {\n    return {\n        [indexKey]:      e.index || 0,\n        vbat_min_mv:      e.vbat_min_mv || 0,\n        vbat_max_mv:      e.vbat_max_mv || 0,\n        vpv_min_mv:       e.vpv_min_mv || 0,\n        vpv_max_mv:       e.vpv_max_mv || 0,\n        ah_charge_mah:       e.ah_charge_mah || 0,\n        ah_load_mah:         e.ah_load_mah || 0,\n        soc_pct:         e.soc_pct || 0,\n        ext_temp_max_c:  e.ext_temp_max_c || 0,\n        ext_temp_min_c:  e.ext_temp_min_c || 0,\n        nightlength_min: e.nightlength_min || 0,\n        il_max_ma10:        e.il_max_ma10 || 0,\n        ipv_max_ma10:       e.ipv_max_ma10 || 0,\n        ...unpackStateFlags(e.state_flags || 0)\n    };\n}\n\nif (sub === \"summary\") {\n    return [{ payload: [{\n        recorded_days:              dl.recorded_days  || 0,\n        days_with_lvd:              dl.days_with_lvd  || 0,\n        months_without_full_charge: dl.months_without_full_charge || 0,\n        avg_morning_soc_pct:        dl.avg_morning_soc_pct  || 0,\n        total_ah_charge_mah:        dl.total_ah_charge_mah  || 0,\n        total_ah_load_mah:          dl.total_ah_load_mah  || 0\n    }, ct] }, null, null];\n}\n\nif (sub === \"daily\") {\n    const msgs = (dl.daily_logs || []).map((e, i) => ({\n        payload: [mapEntry(e, i, \"day_num\"), Object.assign({ day_index: String(e.index || i + 1) }, ct)]\n    }));\n    return [null, msgs.length ? msgs : null, null];\n}\n\nif (sub === \"monthly\") {\n    const msgs = (dl.monthly_logs || []).map((e, i) => ({\n        payload: [mapEntry(e, i, \"month_num\"), Object.assign({ month_index: String(e.index || i + 1) }, ct)]\n    }));\n    return [null, null, msgs.length ? msgs : null];\n}\n\nreturn null;","outputs":3,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":500,"wires":[["influx-summary"],["influx-daily"],["influx-monthly"]]},{"id":"influx-summary","type":"influxdb out","z":"tab-ingestion","influxdb":"influxdb-config","name":"Write summary","measurement":"datalogger_summary","precision":"ms","retentionPolicy":"","database":"","precisionV18FluxV20":"ms","org":"${INFLUXDB_ORG}","bucket":"${INFLUXDB_BUCKET_HISTORY}","x":680,"y":460,"wires":[]},{"id":"influx-daily","type":"influxdb out","z":"tab-ingestion","influxdb":"influxdb-config","name":"Write daily","measurement":"datalogger_daily","precision":"ms","retentionPolicy":"","database":"","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"${INFLUXDB_ORG}","bucket":"${INFLUXDB_BUCKET_HISTORY}","x":680,"y":500,"wires":[]},{"id":"influx-monthly","type":"influxdb out","z":"tab-ingestion","influxdb":"influxdb-config","name":"Write monthly","measurement":"datalogger_monthly","precision":"ms","retentionPolicy":"","database":"","precisionV18FluxV20":"ms","org":"${INFLUXDB_ORG}","bucket":"${INFLUXDB_BUCKET_HISTORY}","x":680,"y":540,"wires":[]},{"id":"6ef6f1980fbf2a2d","type":"decode","z":"tab-ingestion","name":"","protofile":"b5f019f3f202939d","protoType":"DeviceInfo","x":280,"y":40,"wires":[["fn-cache-info"]]},{"id":"dc935383a727588e","type":"decode","z":"tab-ingestion","name":"","protofile":"b5f019f3f202939d","protoType":"DeviceSettings","x":260,"y":100,"wires":[["fn-cache-settings"]]},{"id":"a1b37ebb5d66c012","type":"decode","z":"tab-ingestion","name":"","protofile":"b5f019f3f202939d","protoType":"Telemetry","x":280,"y":240,"wires":[["fn-parse-state"]]},{"id":"dd2afd938d80ebfb","type":"decode","z":"tab-ingestion","name":"","protofile":"b5f019f3f202939d","protoType":"DataloggerPayload","x":260,"y":500,"wires":[["fn-process-datalog"]]},{"id":"link-to-control","type":"link out","z":"tab-ingestion","name":"Link to Control","mode":"link","links":["link-from-ingestion"],"x":715,"y":60,"wires":[]},{"id":"inj-overview","type":"inject","z":"tab-overview","name":"Every 5s","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","payload":"","payloadType":"date","x":80,"y":60,"wires":[["fn-build-overview"]]},{"id":"fn-build-overview","type":"function","z":"tab-overview","name":"Build overview HTML","func":"const fleet = global.get('fleet') || {};\nconst onlineMap = global.get('online_map') || {};\nconst serials = Object.keys(fleet).sort();\n\nif (!serials.length) {\n    const empty = '<p style=\"color:#94a3b8;padding:24px;text-align:center;font-style:italic\">No devices detected on the network yet.</p>';\n    return [{ payload: empty }, { payload: empty }];\n}\n\nlet totalDevices = serials.length;\nlet onlineCount = 0;\nlet faultCount = 0;\nlet totalSoc = 0;\nlet totalCharge = 0;\n\nfor (const s of serials) {\n    const d = fleet[s];\n    const om = onlineMap[s];\n    if (!om || om.online) onlineCount++;\n    if (d.faults && (d.faults.any_fault || Object.values(d.faults).some(v => v === 1 || v === true))) faultCount++;\n    totalSoc += (d.bat && typeof d.bat.soc_pct === 'number') ? d.bat.soc_pct : 0;\n    totalCharge += (d.bat && typeof d.bat.charge_power_w === 'number') ? d.bat.charge_power_w : 0;\n}\n\nconst avgSoc = totalDevices ? Math.round(totalSoc / totalDevices) : 0;\nconst offlineCount = totalDevices - onlineCount;\n\nfunction statCard(label, value, sub, color) {\n    return '<div style=\"display:flex; flex-direction:column; align-items:center; justify-content:center; background:rgba(30, 41, 59, 0.7); border:1px solid #334155; border-radius:12px; padding:20px; margin:8px; min-width:160px; flex:1; box-shadow:0 4px 6px -1px rgb(0 0 0 / 0.1)\">' +\n        '<div style=\"font-size:32px; font-weight:800; color:' + color + '; line-height:1\">' + value + '</div>' +\n        '<div style=\"font-size:13px; font-weight:600; color:#94a3b8; margin-top:8px; text-transform:uppercase; letter-spacing:0.05em\">' + label + '</div>' +\n        (sub ? '<div style=\"font-size:11px; color:#64748b; margin-top:2px\">' + sub + '</div>' : '') +\n        '</div>';\n}\n\nconst summaryHtml = '<div style=\"display:flex; flex-wrap:wrap; justify-content:space-between; width:100%\">' +\n    statCard('Devices', totalDevices, 'total', '#3b82f6') +\n    statCard('Online', onlineCount, offlineCount + ' offline', onlineCount === totalDevices ? '#22c55e' : '#f59e0b') +\n    statCard('Avg SOC', avgSoc + '%', '', avgSoc > 50 ? '#22c55e' : avgSoc > 20 ? '#f59e0b' : '#ef4444') +\n    statCard('Charge', Math.round(totalCharge) + ' W', 'fleet total', '#3b82f6') +\n    statCard('Faults', faultCount, faultCount ? 'devices with issues' : 'all clear', faultCount ? '#ef4444' : '#22c55e') +\n    '</div>';\n\nlet rows = '';\nfor (const s of serials) {\n    const d = fleet[s];\n    const om = onlineMap[s] || { online: true };\n    const online = om.online;\n    const soc = (d.bat && d.bat.soc_pct) || 0;\n    const vbat = (d.bat && d.bat.voltage_v) || 0;\n    const icharge = (d.bat && d.bat.charge_current_a) || 0;\n    const iload = (d.load && d.load.current_a) || 0;\n    const faults = d.faults && (d.faults.any_fault || Object.values(d.faults).some(v => v === 1 || v === true));\n    \n    rows += '<tr style=\"border-bottom:1px solid #334155\">' +\n        '<td style=\"padding:12px 8px\"><div style=\"display:flex; align-items:center\"><div style=\"width:8px; height:8px; border-radius:50%; background:' + (online ? '#22c55e' : '#ef4444') + '; margin-right:10px\"></div>' +\n        '<div><div style=\"font-weight:600; color:#f1f5f9\">' + s + '</div><div style=\"font-size:10px; color:#64748b\">' + (d.zone || 'N/A') + ' / ' + (d.gateway_id || 'N/A') + '</div></div></div></td>' +\n        '<td style=\"padding:12px 8px; text-align:center\"><div style=\"width:100%; background:#334155; height:6px; border-radius:3px; margin-bottom:4px\">' +\n        '<div style=\"width:' + soc + '%; background:' + (soc > 50 ? '#22c55e' : soc > 20 ? '#f59e0b' : '#ef4444') + '; height:100%; border-radius:3px\"></div></div>' +\n        '<span style=\"font-size:12px; font-weight:700; color:#f1f5f9\">' + soc + '%</span></td>' +\n        '<td style=\"padding:12px 8px; text-align:center; color:#f1f5f9\">' + vbat.toFixed(1) + 'V</td>' +\n        '<td style=\"padding:12px 8px; text-align:center; color:#3b82f6; font-weight:600\">' + icharge.toFixed(1) + 'A</td>' +\n        '<td style=\"padding:12px 8px; text-align:center; color:#f59e0b; font-weight:600\">' + iload.toFixed(1) + 'A</td>' +\n        '<td style=\"padding:12px 8px; text-align:center\">' + (faults ? '<span style=\"background:#ef4444; color:white; padding:2px 6px; border-radius:4px; font-size:10px; font-weight:800\">FAULT</span>' : '<span style=\"color:#22c55e; font-size:18px\">✓</span>') + '</td></tr>';\n}\n\nconst tableHtml = '<table style=\"width:100%; border-collapse:collapse; color:#94a3b8; font-size:13px\"><thead><tr style=\"text-align:left; border-bottom:2px solid #334155\">' +\n    '<th style=\"padding:8px; font-weight:600; color:#cbd5e1\">Device / Zone</th>' +\n    '<th style=\"padding:8px; text-align:center; font-weight:600; color:#cbd5e1\">SOC</th>' +\n    '<th style=\"padding:8px; text-align:center; font-weight:600; color:#cbd5e1\">Bat V</th>' +\n    '<th style=\"padding:8px; text-align:center; font-weight:600; color:#cbd5e1\">Charge</th>' +\n    '<th style=\"padding:8px; text-align:center; font-weight:600; color:#cbd5e1\">Load</th>' +\n    '<th style=\"padding:8px; text-align:center; font-weight:600; color:#cbd5e1\">Status</th></tr></thead><tbody>' + rows + '</tbody></table>';\n\nreturn [{ payload: summaryHtml }, { payload: tableHtml }];","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":60,"wires":[["ui-fleet-summary"],["ui-device-table"]]},{"id":"ui-fleet-summary","type":"ui-text","z":"tab-overview","group":"ui-grp-fleet","order":2,"width":"12","height":"3","name":"Fleet Summary","label":"","format":"html","layout":"row-center","style":false,"font":"","fontSize":"","color":"#000000","wrapText":true,"className":"","value":"payload","valueType":"msg","x":520,"y":40,"wires":[]},{"id":"ui-device-table","type":"ui-text","z":"tab-overview","group":"ui-grp-devices","order":1,"width":"12","height":"10","name":"Device Table","label":"","format":"html","layout":"row-center","style":false,"font":"","fontSize":"","color":"#000000","wrapText":true,"className":"","value":"payload","valueType":"msg","x":520,"y":80,"wires":[]},{"id":"w-device-select","type":"ui-dropdown","z":"tab-control","group":"ui-grp-dev-sel","name":"Select Device","label":"Device","order":2,"width":"6","height":"1","multiple":false,"chips":false,"clearable":false,"options":[{"value":"","label":"-- select --"}],"topic":"device_select","topicType":"str","x":160,"y":60,"wires":[["fn-on-device-select"]]},{"id":"ui-dev-info","type":"ui-text","z":"tab-control","group":"ui-grp-dev-sel","order":1,"width":"6","height":"4","name":"Device Info","label":"","format":"html","layout":"row-spread","style":false,"x":800,"y":60,"wires":[]},{"id":"w-bat-type","type":"ui-dropdown","z":"tab-control","group":"ui-grp-battery","name":"Battery Type","label":"Battery Type","order":4,"width":"6","height":"1","multiple":false,"chips":false,"clearable":false,"options":[{"value":"0","label":"AGM"},{"value":"1","label":"Liquid"},{"value":"2","label":"LiFePO4 High Temp"},{"value":"3","label":"LiFePO4 Med Temp"},{"value":"4","label":"LiFePO4 Low Temp"}],"topic":"w-bat-type","topicType":"str","x":160,"y":180,"wires":[["fn-widget-change"]]},{"id":"w-cap-ah","type":"ui-number-input","z":"tab-control","group":"ui-grp-battery","name":"Capacity Ah","label":"Capacity (Ah)","order":3,"width":"3","height":"1","topic":"w-cap-ah","topicType":"str","min":"1","max":"150","step":"1","tooltip":"","delay":"0","passthru":true,"sendOnDelay":true,"sendOnBlur":true,"sendOnEnter":true,"className":"","clearable":false,"icon":"","iconPosition":"left","iconInnerPosition":"inside","spinner":"default","x":160,"y":240,"wires":[["fn-widget-change"]]},{"id":"w-lvd-v","type":"ui-number-input","z":"tab-control","group":"ui-grp-battery","name":"LVD Voltage mV","label":"LVD Voltage (mV)","order":2,"width":"3","height":"1","topic":"w-lvd-v","topicType":"str","min":"1","max":"20000","step":"1","tooltip":"","delay":"0","passthru":true,"sendOnDelay":true,"sendOnBlur":true,"sendOnEnter":true,"className":"","clearable":false,"icon":"","iconPosition":"left","iconInnerPosition":"inside","spinner":"default","x":170,"y":300,"wires":[["fn-widget-change"]]},{"id":"w-lvd-mode","type":"ui-switch","z":"tab-control","name":"LVD Mode","label":"Voltage mode LVD","group":"ui-grp-battery","order":1,"width":"3","height":"1","passthru":true,"decouple":false,"topic":"w-lvd-mode","topicType":"str","className":"","layout":"","clickableArea":"switch","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":160,"y":360,"wires":[["fn-widget-change"]]},{"id":"w-night-mode","type":"ui-dropdown","z":"tab-control","group":"ui-grp-lighting","name":"Night Mode","label":"Night Mode","order":4,"width":"6","height":"1","multiple":false,"chips":false,"clearable":false,"options":[{"value":"0","label":"Off"},{"value":"1","label":"D2D"},{"value":"2","label":"DD"},{"value":"3","label":"MN"}],"topic":"w-night-mode","topicType":"str","x":770,"y":240,"wires":[["fn-widget-change"]]},{"id":"w-eve-min","type":"ui-number-input","z":"tab-control","group":"ui-grp-lighting","name":"Evening Min","label":"Evening (min)","order":3,"width":"3","height":"1","topic":"w-eve-min","topicType":"str","min":0,"max":600,"step":1,"x":770,"y":300,"wires":[["fn-widget-change"]]},{"id":"w-morn-min","type":"ui-number-input","z":"tab-control","group":"ui-grp-lighting","name":"Morning Min","label":"Morning (min)","order":2,"width":"3","height":"1","topic":"w-morn-min","topicType":"str","min":0,"max":600,"step":1,"x":770,"y":360,"wires":[["fn-widget-change"]]},{"id":"w-night-thresh","type":"ui-number-input","z":"tab-control","group":"ui-grp-lighting","name":"Night Thresh mV","label":"Night Thresh (mV)","order":1,"width":"3","height":"1","topic":"w-night-thresh","topicType":"str","min":"0","max":"14000","step":"1","tooltip":"","delay":"0","passthru":true,"sendOnDelay":true,"sendOnBlur":true,"sendOnEnter":true,"className":"","clearable":false,"icon":"","iconPosition":"left","iconInnerPosition":"inside","spinner":"default","x":780,"y":420,"wires":[["fn-widget-change"]]},{"id":"w-dim-mode","type":"ui-dropdown","z":"tab-control","group":"ui-grp-dimming","name":"Dim Mode","label":"Dim Mode","order":5,"width":"6","height":"1","multiple":false,"chips":false,"clearable":false,"options":[{"value":"0","label":"Off"},{"value":"1","label":"D2D"},{"value":"2","label":"DD"},{"value":"3","label":"MN"}],"topic":"w-dim-mode","topicType":"str","x":160,"y":440,"wires":[["fn-widget-change"]]},{"id":"w-dim-eve-min","type":"ui-number-input","z":"tab-control","group":"ui-grp-dimming","name":"Dim Eve Min","label":"Dim Evening (min)","order":4,"width":"3","height":"1","topic":"w-dim-eve-min","topicType":"str","min":0,"max":600,"step":1,"x":160,"y":500,"wires":[["fn-widget-change"]]},{"id":"w-dim-morn-min","type":"ui-number-input","z":"tab-control","group":"ui-grp-dimming","name":"Dim Morn Min","label":"Dim Morning (min)","order":3,"width":"3","height":"1","topic":"w-dim-morn-min","topicType":"str","min":0,"max":600,"step":1,"x":160,"y":560,"wires":[["fn-widget-change"]]},{"id":"w-dim-pct","type":"ui-number-input","z":"tab-control","group":"ui-grp-dimming","name":"Dimming %","label":"Dimming (%)","order":2,"width":"3","height":"1","topic":"w-dim-pct","topicType":"str","min":0,"max":100,"step":1,"x":160,"y":620,"wires":[["fn-widget-change"]]},{"id":"w-base-dim-pct","type":"ui-number-input","z":"tab-control","group":"ui-grp-dimming","name":"Base Dim %","label":"Base Dimming (%)","order":1,"width":"3","height":"1","topic":"w-base-dim-pct","topicType":"str","min":0,"max":100,"step":1,"x":160,"y":680,"wires":[["fn-widget-change"]]},{"id":"w-dali","type":"ui-switch","z":"tab-control","name":"DALI","label":"DALI Power Enable","group":"ui-grp-advanced","order":2,"width":"3","height":"1","passthru":true,"decouple":false,"topic":"w-dali","topicType":"str","className":"","layout":"","clickableArea":"switch","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":500,"wires":[["fn-widget-change"]]},{"id":"w-alc","type":"ui-switch","z":"tab-control","name":"ALC","label":"ALC Dimming Enable","group":"ui-grp-advanced","order":1,"width":"3","height":"1","passthru":true,"decouple":false,"topic":"w-alc","topicType":"str","className":"","layout":"","clickableArea":"switch","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":560,"wires":[["fn-widget-change"]]},{"id":"btn-send","type":"ui-button","z":"tab-control","group":"ui-grp-actions","name":"Send Settings","label":"Send Settings","order":2,"width":"3","height":"1","className":"","icon":"","iconPosition":"left","payload":"","payloadType":"str","topic":"send","topicType":"str","x":100,"y":820,"wires":[["fn-btn-router"]]},{"id":"btn-reload","type":"ui-button","z":"tab-control","group":"ui-grp-actions","name":"Reload","label":"Reload from device","order":1,"width":"3","height":"1","className":"","icon":"","iconPosition":"left","payload":"","payloadType":"str","topic":"reload","topicType":"str","x":460,"y":740,"wires":[["fn-btn-router"]]},{"id":"ui-cmd-log","type":"ui-text","z":"tab-control","group":"ui-grp-cmdlog","order":1,"width":"0","height":"0","name":"Cmd Log","label":"","format":"html","layout":"row-center","style":false,"font":"","fontSize":"","color":"#000000","wrapText":true,"className":"","value":"payload","valueType":"msg","x":920,"y":940,"wires":[]},{"id":"fn-on-device-select","type":"function","z":"tab-control","name":"On device select","func":"const serial = msg.payload;\nconst out = new Array(18).fill(null);\n\nif (!serial || typeof serial !== 'string') {\n    flow.set('selected_serial', null);\n\n    out[0] = {\n        payload: `<div style=\"padding:60px 20px;text-align:center;color:#64748b;font-size:15px;\">Select a device from the dropdown above</div>`\n    };\n\n    out[17] = { payload: '' };\n\n    node.send(out);\n    return null;\n}\n\nflow.set('selected_serial', serial);\nflow.set('w__dirty', false);\n\nconst fleet = global.get('fleet') || {};\nconst onlineMap = global.get('online_map') || {};\nconst settingsMap = global.get('settings_cache') || {};\nconst infoMap = global.get('info_map') || {};\n\nconst dev = fleet[serial] || {};\nconst s = settingsMap[serial] || null;\nconst info = infoMap[serial] || {};\nconst online = onlineMap[serial] ? onlineMap[serial].online !== false : true;\n\nconst statusColor = online ? '#22c55e' : '#ef4444';\n\nout[0] = {\n    payload: `\n<div style=\"background:#1e2937;padding:18px;border-radius:8px;margin-bottom:16px;\">\n    <div style=\"display:flex;align-items:center;gap:12px;margin-bottom:14px;\">\n        <div style=\"width:16px;height:16px;border-radius:50%;background:${statusColor};\"></div>\n        <span style=\"font-size:26px;font-weight:700;\">${serial}</span>\n        <span style=\"color:${statusColor};font-weight:700;\">${online ? '● ONLINE' : '○ OFFLINE'}</span>\n    </div>\n\n    <div style=\"display:grid;grid-template-columns:120px 1fr;gap:8px;font-size:14.5px;line-height:1.6;\">\n        <div style=\"color:#64748b;\">Model</div><div style=\"color:#e2e8f0;\">${info.type || 'MPPT'} V${info.hw_version || '?'}</div>\n        <div style=\"color:#64748b;\">Produced</div><div style=\"color:#e2e8f0;\">${info.production_date || '—'}</div>\n        <div style=\"color:#64748b;\">Zone</div><div style=\"color:#e2e8f0;\">${dev.zone || 'default'}</div>\n        <div style=\"color:#64748b;\">Gateway</div><div style=\"color:#e2e8f0;\">${dev.gateway_id || '—'}</div>\n    </div>\n</div>`\n};\n\nconst BAT = ['AGM', 'Liquid', 'LiFePO4 High Temp', 'LiFePO4 Med Temp', 'LiFePO4 Low Temp'];\nconst MODE = ['Off', 'D2D', 'DD', 'MN'];\n\nout[17] = {\n    payload: s ? `\n<div style=\"background:#1e2937;padding:18px;border-radius:8px;\">\n    <div style=\"font-size:15px;font-weight:700;color:#e2e8f0;margin-bottom:16px;\">DEVICE CONFIGURATION</div>\n\n    <div style=\"display:grid;grid-template-columns:1fr 1fr;gap:16px 30px;font-size:14.5px;\">\n        <div><span style=\"color:#64748b;\">Battery Type</span><br><strong>${BAT[s.battery_type_index] ?? s.battery_type_index}</strong></div>\n        <div><span style=\"color:#64748b;\">Capacity</span><br><strong>${s.capacity_ah}</strong> Ah</div>\n\n        <div><span style=\"color:#64748b;\">LVD</span><br><strong>${(s.lvd_voltage_mv / 1000).toFixed(1)} V</strong></div>\n        <div><span style=\"color:#64748b;\">LVD Mode</span><br><strong>${s.lvd_mode_voltage ? 'Voltage' : 'SOC'}</strong></div>\n\n        <div><span style=\"color:#64748b;\">Night Mode</span><br><strong>${MODE[s.night_mode_index] ?? s.night_mode_index}</strong></div>\n        <div><span style=\"color:#64748b;\">Evening</span><br><strong>${s.evening_minutes_mn} min</strong></div>\n        <div><span style=\"color:#64748b;\">Morning</span><br><strong>${s.morning_minutes_mn} min</strong></div>\n\n        <div><span style=\"color:#64748b;\">Night Thresh</span><br><strong>${(s.night_threshold_mv / 1000).toFixed(1)} V</strong></div>\n\n        <div><span style=\"color:#64748b;\">Dim Mode</span><br><strong>${MODE[s.night_mode_dimming_index] ?? s.night_mode_dimming_index}</strong></div>\n        <div><span style=\"color:#64748b;\">Dimming</span><br><strong>${s.dimming_pct} %</strong></div>\n        <div><span style=\"color:#64748b;\">Base Dim</span><br><strong>${s.base_dimming_pct} %</strong></div>\n\n        <div><span style=\"color:#64748b;\">DALI</span><br><strong>${s.dali_power_enable === true ? '✅ On' : '❌ Off'}</strong></div>\n        <div><span style=\"color:#64748b;\">ALC</span><br><strong>${s.alc_dimming_enable === true ? '✅ On' : '❌ Off'}</strong></div>\n    </div>\n</div>\n` : `\n<div style=\"background:#1e2937;padding:80px 20px;text-align:center;color:#64748b;border-radius:8px;\">\n    No settings cached yet<br><small>Click \"Send Settings\" to load</small>\n</div>`\n};\n\nif (s) {\n    const map = [\n        ['battery_type_index', 0, 'string'],\n        ['capacity_ah', 100],\n        ['lvd_voltage_mv', 11000],\n        ['lvd_mode_voltage', false],\n        ['night_mode_index', 1, 'string'],\n        ['evening_minutes_mn', 0],\n        ['morning_minutes_mn', 0],\n        ['night_threshold_mv', 11500],\n        ['night_mode_dimming_index', 0],\n        ['evening_minutes_dimming_mn', 0],\n        ['morning_minutes_dimming_mn', 0],\n        ['dimming_pct', 0],\n        ['base_dimming_pct', 0],\n        ['dali_power_enable', false],\n        ['alc_dimming_enable', false]\n    ];\n\n    map.forEach((m, i) => {\n        const key = m[0];\n        const def = m[1];\n        let val = s[key];\n\n        if (val === undefined) val = def;\n\n        if (typeof def === 'string') val = String(val);\n        if (typeof def === 'boolean') val = val === true;\n\n        out[i + 1] = {\n            payload: val,\n            _populate: true\n        };\n    });\n}\n\nnode.send(out);\nreturn null;","outputs":18,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":140,"wires":[["ui-dev-info"],["w-bat-type"],["w-cap-ah"],["w-lvd-v"],["w-lvd-mode"],["w-night-mode"],["w-eve-min"],["w-morn-min"],["w-night-thresh"],["w-dim-mode"],["w-dim-eve-min"],["w-dim-morn-min"],["w-dim-pct"],["w-base-dim-pct"],["w-dali"],["w-alc"],[],["ui-curr-settings"]]},{"id":"fn-widget-change","type":"function","z":"tab-control","name":"Store widget value","func":"flow.set('w_' + msg.topic, msg.payload);\nif (!msg._populate) {\n    flow.set('w__dirty', true);\n}\nreturn null;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":680,"wires":[[]]},{"id":"fn-btn-router","type":"function","z":"tab-control","name":"Button router","func":"if (msg.topic === 'send')   return [msg, null];\nif (msg.topic === 'reload') return [null, msg];\nreturn null;","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":800,"wires":[["fn-build-cmd"],["fn-reload"]]},{"id":"fn-reload","type":"function","z":"tab-control","name":"Reload from cache","func":"var serial = flow.get('selected_serial');\nif (!serial) return null;\n// Re-trigger On device select with the current serial\nmsg.payload = serial;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":880,"wires":[["fn-on-device-select"]]},{"id":"fn-build-cmd","type":"function","z":"tab-control","name":"Build settings cmd","func":"const serial = flow.get('selected_serial');\nif (!serial) return null;\n\nconst fleet = global.get('fleet') || {};\nconst settingsMap = global.get('settings_cache') || {};\nconst current = settingsMap[serial]|| {};\n\nconst dev = fleet[serial] || {};\nconst zone = dev.zone || 'default';\nconst gw = dev.gateway_id || 'unknown';\n\nconst get = (key) => {\n    const v = flow.get('w_w-' + key);\n    if (v === undefined || v === null || v === '') return undefined;\n    return v;\n};\n\nconst setIfChanged = (out, key, val, oldVal) => {\n    if (val !== oldVal) out[key] = val;\n};\n\nconst setSettings = {};\n\nsetIfChanged(setSettings, 'battery_type_index',\n    Number(get('bat-type')),\n    current.battery_type_index\n);\n\nsetIfChanged(setSettings, 'capacity_ah',\n    Number(get('cap-ah')),\n    current.capacity_ah\n);\n\nsetIfChanged(setSettings, 'lvd_voltage_mv',\n    Number(get('lvd-v')),\n    current.lvd_voltage_mv\n);\n\nsetIfChanged(setSettings, 'night_threshold_mv',\n    Number(get('night-thresh')),\n    current.night_threshold_mv\n);\n\nsetIfChanged(setSettings, 'night_mode_index',\n    get('night-mode'),\n    current.night_mode_index\n);\n\nsetIfChanged(setSettings, 'evening_minutes_mn',\n    get('eve-min'),\n    current.evening_minutes_mn\n);\n\nsetIfChanged(setSettings, 'morning_minutes_mn',\n    get('morn-min'),\n    current.morning_minutes_mn\n);\n\nsetIfChanged(setSettings, 'night_mode_dimming_index',\n    get('dim-mode'),\n    current.night_mode_dimming_index\n);\n\nsetIfChanged(setSettings, 'evening_minutes_dimming_mn',\n    get('dim-eve-min'),\n    current.evening_minutes_dimming_mn\n);\n\nsetIfChanged(setSettings, 'morning_minutes_dimming_mn',\n    get('dim-morn-min'),\n    current.morning_minutes_dimming_mn\n);\n\nsetIfChanged(setSettings, 'dimming_pct',\n    get('dim-pct'),\n    current.dimming_pct\n);\n\nsetIfChanged(setSettings, 'base_dimming_pct',\n    get('base-dim-pct'),\n    current.base_dimming_pct\n);\n\nconst dali = !!get('dali');\nconst alc = !!get('alc');\n\nlet advanced_flags = current.advanced_flags ?? 0;\n\nadvanced_flags &= ~(1 << 0);\nadvanced_flags &= ~(1 << 1);\n\nif (dali) advanced_flags |= (1 << 0);\nif (alc) advanced_flags |= (1 << 1);\n\nsetSettings.advanced_flags = advanced_flags;\n\nconst requestId = `${serial}_${Date.now()}`;\n\nmsg.topic = `mppt/${zone}/${gw}/${serial}/cmd`;\nmsg.payload = {\n    serial,\n    request_id: requestId,\n    set_settings: setSettings\n};\n\nconst changeCount = Object.keys(setSettings).length;\nconst ts = new Date().toLocaleTimeString();\n\nconst entry = `\n<div style=\"font-size:12px; padding:4px 0; border-bottom:1px solid #334155\">\n    <span style=\"color:#64748b\">${ts}</span>\n    <span style=\"color:#3b82f6; font-weight:600\">SEND</span>\n    ${serial} — ${requestId}\n    <span style=\"color:#eab308\">(${changeCount} changed)</span>\n</div>`;\n\nflow.set('cmd_log', entry + (flow.get('cmd_log') || ''));\nflow.set('w__dirty', false);\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":800,"wires":[["encode-cmd","fn-show-log"]]},{"id":"mo-cmd","type":"mqtt out","z":"tab-control","name":"mqtt out cmd","topic":"","qos":"1","retain":"false","broker":"mqtt-broker-config","x":990,"y":680,"wires":[]},{"id":"fn-show-log","type":"function","z":"tab-control","name":"Show log","func":"var log = flow.get('cmd_log') || '<span style=\"color:#64748b;font-style:italic\">No commands sent yet.</span>';\n\nmsg.payload =\n'<div style=\"width:100%;min-width:100%;font-family:monospace;font-size:14px;line-height:1.4;padding:10px;box-sizing:border-box;border:1px solid #e5e7eb;border-radius:6px;background:#fff;\">'\n+ log +\n'</div>';\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":840,"wires":[["ui-cmd-log"]]},{"id":"mi-ack","type":"mqtt in","z":"tab-control","name":"mppt/+/+/+/ack","topic":"mppt/+/+/+/ack","qos":"1","datatype":"buffer","broker":"mqtt-broker-config","inputs":0,"x":200,"y":940,"wires":[["decode-ack"]]},{"id":"fn-handle-ack","type":"function","z":"tab-control","name":"Handle ack","func":"const p      = msg.topic.split('/');\nconst serial = p.length >= 4 ? p[3] : '?';\nconst ts     = new Date().toLocaleTimeString();\nconst pl     = msg.payload || {};\n\nconst ok     = pl.ok;\nconst reason = pl.reason || '';\nconst reqId  = pl.request_id || '';\n\nconst color = ok ? '#4ade80' : '#f87171';\nconst label = ok ? 'ACK ✓'  : 'ACK ✗';\nconst idStr = reqId ? ` <span style=\"color:#475569\">[${reqId.split('_').pop()}]</span>` : '';\n\nconst entry =\n    `<div style=\"font-size:12px;padding:4px 0;border-bottom:1px solid #1e293b\">` +\n    `<span style=\"color:#475569\">${ts}</span> ` +\n    `<span style=\"color:${color};font-weight:700\">${label}</span> ` +\n    `<span style=\"color:#94a3b8\">${serial}</span>${idStr}` +\n    `${reason ? '<span style=\"color:#64748b\"> - ' + reason + '</span>' : ''}` +\n    `</div>`;\n\nconst log = flow.get('cmd_log') || '';\nflow.set('cmd_log', entry + log);\n\nmsg.payload =\n    `<div style=\"font-family:monospace;max-height:260px;overflow-y:auto;font-size:12px\">` +\n    flow.get('cmd_log') + '</div>';\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":940,"wires":[["ui-cmd-log"]]},{"id":"fn-update-device-list","type":"function","z":"tab-control","name":"Update device list","func":"var fleet = global.get('fleet') || {};\n\nvar opts = Object.keys(fleet)\n    .sort()\n    .map(function(s) {\n        var dev = fleet[s] || {};\n        var zone = dev.zone || 'default';\n        var onlineMap = global.get('online_map') || {};\n        var isOnline = onlineMap[s] ? onlineMap[s].online !== false : true;\n        var icon = isOnline ? ' ●' : ' ○';\n        return {\n            value: s,\n            label: s + ' [' + zone + ']' + icon\n        };\n    });\n\nopts.unshift({ value: \"\", label: \"-- Select Device --\" });\n\nvar optsStr = JSON.stringify(opts);\nif (optsStr === context.get('lastOpts')) return null;\ncontext.set('lastOpts', optsStr);\n\nmsg.payload = opts;\nmsg.topic = \"options\";\nmsg.ui_update = { options: opts };\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":1020,"wires":[["w-device-select"]]},{"id":"ui-curr-settings","type":"ui-text","z":"tab-control","group":"ui-grp-dev-sel","order":3,"width":"6","height":"4","name":"Current Config","label":"","format":"html","layout":"row-spread","style":false,"font":"","fontSize":"","color":"#000000","wrapText":false,"className":"","value":"payload","valueType":"msg","x":800,"y":120,"wires":[]},{"id":"decode-ack","type":"decode","z":"tab-control","name":"Decode Ack","protofile":"b5f019f3f202939d","protoType":"CommandAck","x":430,"y":940,"wires":[["fn-handle-ack"]]},{"id":"encode-cmd","type":"encode","z":"tab-control","name":"Encode Command","protofile":"b5f019f3f202939d","protoType":"ControlCommand","x":770,"y":700,"wires":[["mo-cmd"]]},{"id":"261fd498aeee5a39","type":"function","z":"tab-control","name":"Cache settings","func":"const p = msg.topic.split('/');\nconst serial = p[3];\nconst d = msg.payload || {};\nconst settingsMap = global.get('settings_cache') || {};\n\nsettingsMap[serial] = {\n    serial: d.serial || serial,\n\n    battery_type_index: d.battery_type_index ?? 0,\n    capacity_ah: d.capacity_ah ?? 0,\n\n    lvd_voltage_mv: d.lvd_voltage_mv ?? 0,\n    lvd_mode_voltage: d.lvd_mode_voltage ?? false,\n\n    night_mode_index: d.night_mode_index ?? 1,\n    evening_minutes_mn: d.evening_minutes_mn ?? 0,\n    morning_minutes_mn: d.morning_minutes_mn ?? 0,\n\n    night_threshold_mv: d.night_threshold_mv ?? 0,\n\n    night_mode_dimming_index: d.night_mode_dimming_index ?? 0,\n    evening_minutes_dimming_mn: d.evening_minutes_dimming_mn ?? 0,\n    morning_minutes_dimming_mn: d.morning_minutes_dimming_mn ?? 0,\n\n    dimming_pct: d.dimming_pct ?? 0,\n    base_dimming_pct: d.base_dimming_pct ?? 0,\n\n    dali_power_enable: d.dali_power_enable ?? false,\n    alc_dimming_enable: d.alc_dimming_enable ?? false\n};\n\nglobal.set('settings_cache', settingsMap);\n\nconst selected = flow.get('selected_serial');\n\nconst repopulate = (selected === serial)\n    ? { payload: serial }\n    : null;\n\nreturn [repopulate, {}];","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":980,"wires":[["fn-update-device-list"],[]]},{"id":"1ef19ce9e84983e3","type":"function","z":"tab-control","name":"Cache info","func":"const p = msg.topic.split('/');\nif (p.length < 5) return null;\nconst serial = p[3];\nconst d = msg.payload || {};\nconst infoMap = global.get('info_map') || {};\n\ninfoMap[serial] = {\n    type:             d.device_type || d.type || '',\n    production_date:  d.production_date || '',\n    hw_version:       d.hw_version || 0,\n    serial_number:    d.serial_number || serial\n};\n\nglobal.set('info_map', infoMap);\nreturn null;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":1060,"wires":[["fn-update-device-list"]]},{"id":"link-from-ingestion","type":"link in","z":"tab-control","name":"Link from Ingestion","links":["link-to-control"],"x":330,"y":1020,"wires":[["fn-update-device-list"]]},{"id":"inj-control-sync","type":"inject","z":"tab-control","name":"Sync List","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","payload":"","payloadType":"date","x":190,"y":1020,"wires":[["fn-update-device-list"]]}]