mppt-stack/nodered/flows.json
[{"id":"tab-control","type":"tab","label":"Control Tab","disabled":false,"info":""},{"id":"49cbeaef5b7252c7","type":"tab","label":"Ingestion","disabled":false,"info":""},{"id":"eba24091a5f898ac","type":"tab","label":"Overview","disabled":false,"info":""},{"id":"mqtt-broker-config","type":"mqtt-broker","name":"Mosquitto","broker":"mosquitto","port":"1883","clientid":"nodered-mppt","autoConnect":true,"usetls":false,"protocolVersion":"5","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"influxdb-config","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"solar","name":"InfluxDB 2.0","usetls":false,"tls":"","influxdbVersion":"2.0","url":"${INFLUXDB_URL}","timeout":"","rejectUnauthorized":false},{"id":"da4953e5005e8d1c","type":"global-config","env":[],"modules":{"node-red-contrib-influxdb":"0.7.0","node-red-contrib-protobuf":"1.1.2","@flowfuse/node-red-dashboard":"1.30.2","node-red-node-email":"5.2.3"}},{"id":"b5f019f3f202939d","type":"protobuf-file","protopath":"/data/mppt.proto","watchFile":false,"keepCase":true},{"id":"ui-page-control","type":"ui-page","name":"Control","ui":"ui-base-main","path":"/control","icon":"sliders-h","layout":"grid","theme":"ui-theme-main","breakpoints":[{"name":"Default","px":0,"cols":3},{"name":"Tablet","px":576,"cols":6},{"name":"Small Desktop","px":768,"cols":9},{"name":"Desktop","px":1024,"cols":12}],"order":2,"visible":true,"disabled":false},{"id":"ui-grp-dev-sel","type":"ui-group","name":"Device Selection","page":"ui-page-control","width":"8","height":"2","order":1,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"ui-grp-battery","type":"ui-group","name":"Battery","page":"ui-page-control","width":"4","height":"1","order":3,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"ui-grp-lighting","type":"ui-group","name":"Lighting","page":"ui-page-control","width":"4","height":"1","order":4,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"ui-grp-dimming","type":"ui-group","name":"Dimming","page":"ui-page-control","width":"4","height":"1","order":5,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"ui-grp-advanced","type":"ui-group","name":"Advanced","page":"ui-page-control","width":"6","order":6,"visible":true,"disabled":false},{"id":"ui-grp-actions","type":"ui-group","name":"Actions","page":"ui-page-control","width":"6","height":"1","order":7,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"ui-grp-cmdlog","type":"ui-group","name":"Command Log","page":"ui-page-control","width":"4","height":"1","order":2,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"ui-grp-location","type":"ui-group","name":"Device Location","page":"ui-page-control","width":"12","order":8,"visible":true,"disabled":false},{"id":"ui-grp-fleet","type":"ui-group","name":"Fleet Status","page":"ui-page-overview","width":"12","order":1},{"id":"ui-grp-devices","type":"ui-group","name":"Devices","page":"ui-page-overview","width":"12","order":2,"visible":true,"disabled":false},{"id":"ui-page-overview","type":"ui-page","name":"Overview","ui":"ui-base-main","path":"/overview","icon":"home","layout":"grid","theme":"ui-theme-main","breakpoints":[{"name":"Default","px":0,"cols":3},{"name":"Tablet","px":576,"cols":6},{"name":"Small Desktop","px":768,"cols":9},{"name":"Desktop","px":1024,"cols":12}],"order":1,"visible":true,"disabled":false},{"id":"ui-base-main","type":"ui-base","name":"MPPT Dashboard","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"headerContent":"page","navigationStyle":"default","titleBarStyle":"default","showReconnectNotification":true,"notificationDisplayTime":5,"showDisconnectNotification":true,"allowInstall":true},{"id":"ui-theme-main","type":"ui-theme","name":"MPPT Dark Theme","colors":{"surface":"#0f172a","primary":"#3b82f6","bgPage":"#020617","groupBg":"#0f172a","groupOutline":"#1e293b"},"sizes":{"pagePadding":"20px","groupGap":"16px","groupBorderRadius":"16px","widgetGap":"12px"}},{"id":"w-device-select","type":"ui-dropdown","z":"tab-control","group":"ui-grp-dev-sel","name":"Select Device","label":"Device","order":1,"width":"0","height":"0","passthru":true,"multiple":false,"chips":false,"clearable":false,"options":[{"label":"-- select --","value":"","type":"str"}],"topic":"device_select","topicType":"str","className":"","typeIsComboBox":true,"msgTrigger":"onChange","x":160,"y":60,"wires":[["fn-on-device-select","fn-get-loc-from-cache"]]},{"id":"ui-dev-info","type":"ui-text","z":"tab-control","group":"ui-grp-dev-sel","order":2,"width":"0","height":"0","name":"Device Info","label":"","format":"html","layout":"row-left","style":false,"font":"","fontSize":"","color":"#000000","wrapText":true,"className":"","value":"payload","valueType":"msg","x":800,"y":60,"wires":[]},{"id":"w-bat-type","type":"ui-dropdown","z":"tab-control","group":"ui-grp-battery","name":"Battery Type","label":"Battery Type","order":4,"width":"6","height":"1","multiple":false,"chips":false,"clearable":false,"options":[{"value":"0","label":"Unknown"},{"value":"1","label":"AGM"},{"value":"2","label":"Liquid"},{"value":"3","label":"LFP"},{"value":"4","label":"LFP High"},{"value":"5","label":"LFP Med"},{"value":"6","label":"LFP Low"}],"topic":"w-bat-type","topicType":"str","x":160,"y":180,"wires":[["fn-widget-change"]]},{"id":"w-cap-ah","type":"ui-number-input","z":"tab-control","group":"ui-grp-battery","name":"Capacity Ah","label":"Capacity (Ah)","order":3,"width":"6","height":"1","topic":"w-cap-ah","topicType":"str","min":"1","max":"150","step":"1","tooltip":"","delay":"0","passthru":true,"sendOnDelay":true,"sendOnBlur":true,"sendOnEnter":true,"className":"","clearable":false,"icon":"","iconPosition":"left","iconInnerPosition":"inside","spinner":"default","x":160,"y":240,"wires":[["fn-widget-change"]]},{"id":"w-lvd-v","type":"ui-number-input","z":"tab-control","group":"ui-grp-battery","name":"LVD Voltage mV","label":"LVD Voltage (mV)","order":2,"width":"6","height":"1","topic":"w-lvd-v","topicType":"str","min":"1","max":"20000","step":"1","tooltip":"","delay":"0","passthru":true,"sendOnDelay":true,"sendOnBlur":true,"sendOnEnter":true,"className":"","clearable":false,"icon":"","iconPosition":"left","iconInnerPosition":"inside","spinner":"default","x":170,"y":300,"wires":[["fn-widget-change"]]},{"id":"w-lvd-mode","type":"ui-switch","z":"tab-control","name":"LVD Mode","label":"Voltage mode LVD","group":"ui-grp-battery","order":1,"width":"6","height":"1","passthru":true,"decouple":false,"topic":"w-lvd-mode","topicType":"str","className":"","layout":"","clickableArea":"switch","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":160,"y":360,"wires":[["fn-widget-change"]]},{"id":"w-night-mode","type":"ui-dropdown","z":"tab-control","group":"ui-grp-lighting","name":"Night Mode","label":"Night Mode","order":4,"width":"0","height":"0","passthru":true,"multiple":false,"chips":false,"clearable":false,"options":[{"label":"Always On","value":"0","type":"str"},{"label":"D2D","value":"1","type":"str"},{"label":"DD","value":"2","type":"str"},{"label":"MN","value":"3","type":"str"}],"topic":"w-night-mode","topicType":"str","className":"","typeIsComboBox":true,"msgTrigger":"onChange","x":770,"y":240,"wires":[["fn-widget-change"]]},{"id":"w-eve-min","type":"ui-number-input","z":"tab-control","group":"ui-grp-lighting","name":"Evening Min","label":"Evening (min)","order":3,"width":"6","height":"1","topic":"w-eve-min","topicType":"str","min":0,"max":600,"step":1,"x":770,"y":300,"wires":[["fn-widget-change"]]},{"id":"w-morn-min","type":"ui-number-input","z":"tab-control","group":"ui-grp-lighting","name":"Morning Min","label":"Morning (min)","order":2,"width":"6","height":"1","topic":"w-morn-min","topicType":"str","min":0,"max":600,"step":1,"x":770,"y":360,"wires":[["fn-widget-change"]]},{"id":"w-night-thresh","type":"ui-number-input","z":"tab-control","group":"ui-grp-lighting","name":"Night Thresh mV","label":"Night Thresh (mV)","order":1,"width":"6","height":"1","topic":"w-night-thresh","topicType":"str","min":"0","max":"14000","step":"1","tooltip":"","delay":"0","passthru":true,"sendOnDelay":true,"sendOnBlur":true,"sendOnEnter":true,"className":"","clearable":false,"icon":"","iconPosition":"left","iconInnerPosition":"inside","spinner":"default","x":780,"y":420,"wires":[["fn-widget-change"]]},{"id":"w-dim-mode","type":"ui-dropdown","z":"tab-control","group":"ui-grp-dimming","name":"Dim Mode","label":"Dim Mode","order":5,"width":"0","height":"0","passthru":true,"multiple":false,"chips":false,"clearable":false,"options":[{"label":"Always On","value":"0","type":"str"},{"label":"D2D","value":"1","type":"str"},{"label":"DD","value":"2","type":"str"},{"label":"MN","value":"3","type":"str"}],"topic":"w-dim-mode","topicType":"str","className":"","typeIsComboBox":true,"msgTrigger":"onChange","x":160,"y":440,"wires":[["fn-widget-change"]]},{"id":"w-dim-eve-min","type":"ui-number-input","z":"tab-control","group":"ui-grp-dimming","name":"Dim Eve Min","label":"Dim Evening (min)","order":4,"width":"6","height":"1","topic":"w-dim-eve-min","topicType":"str","min":0,"max":600,"step":1,"x":160,"y":500,"wires":[["fn-widget-change"]]},{"id":"w-dim-morn-min","type":"ui-number-input","z":"tab-control","group":"ui-grp-dimming","name":"Dim Morn Min","label":"Dim Morning (min)","order":3,"width":"6","height":"1","topic":"w-dim-morn-min","topicType":"str","min":0,"max":600,"step":1,"x":160,"y":560,"wires":[["fn-widget-change"]]},{"id":"w-dim-pct","type":"ui-number-input","z":"tab-control","group":"ui-grp-dimming","name":"Dimming %","label":"Dimming (%)","order":2,"width":"6","height":"1","topic":"w-dim-pct","topicType":"str","min":0,"max":100,"step":1,"x":160,"y":620,"wires":[["fn-widget-change"]]},{"id":"w-base-dim-pct","type":"ui-number-input","z":"tab-control","group":"ui-grp-dimming","name":"Base Dim %","label":"Base Dimming (%)","order":1,"width":"6","height":"1","topic":"w-base-dim-pct","topicType":"str","min":0,"max":100,"step":1,"x":160,"y":680,"wires":[["fn-widget-change"]]},{"id":"w-dali","type":"ui-switch","z":"tab-control","name":"DALI","label":"DALI Power Enable","group":"ui-grp-advanced","order":2,"width":"3","height":"1","passthru":true,"decouple":false,"topic":"w-dali","topicType":"str","className":"","layout":"","clickableArea":"switch","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":500,"wires":[["fn-widget-change"]]},{"id":"w-alc","type":"ui-switch","z":"tab-control","name":"ALC","label":"ALC Dimming Enable","group":"ui-grp-advanced","order":1,"width":"3","height":"1","passthru":true,"decouple":false,"topic":"w-alc","topicType":"str","className":"","layout":"","clickableArea":"switch","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":560,"wires":[["fn-widget-change"]]},{"id":"btn-send","type":"ui-button","z":"tab-control","group":"ui-grp-actions","name":"Send Settings","label":"Send Settings","order":2,"width":"3","height":"1","emulateClick":false,"className":"mppt-btn-primary","icon":"mdi-send","iconPosition":"left","payload":"","payloadType":"str","topic":"send","topicType":"str","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":100,"y":820,"wires":[["fn-btn-router"]]},{"id":"btn-reload","type":"ui-button","z":"tab-control","group":"ui-grp-actions","name":"Reload","label":"Reload from Device","order":1,"width":"3","height":"1","emulateClick":false,"className":"mppt-btn-secondary","icon":"mdi-refresh","iconPosition":"left","payload":"","payloadType":"str","topic":"reload","topicType":"str","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":460,"y":740,"wires":[["fn-btn-router"]]},{"id":"ui-cmd-log","type":"ui-text","z":"tab-control","group":"ui-grp-cmdlog","order":1,"width":"12","height":"1","name":"Cmd Log","label":"","format":"html","layout":"row-center","style":true,"font":"","fontSize":"","color":"#000000","wrapText":true,"className":"","value":"payload","valueType":"msg","x":920,"y":940,"wires":[]},{"id":"fn-on-device-select","type":"function","z":"tab-control","name":"On device select","func":"const BAT_LABEL = [\n\"Unknown\",\n\"AGM\",\n\"Liquid\",\n\"LFP\",\n\"LFP High\",\n\"LFP Med\",\n\"LFP Low\"\n];\n\nconst NL_LABEL=[\n\"Always On\",\n\"D2D\",\n\"DD\",\n\"MN\"\n];\n\n\nconst serial = msg.payload;\n\nconst out=new Array(16).fill(null);\n\n\nif(!serial){\n\n flow.set(\n 'selected_serial',\n null\n );\n\n out[0]={\n payload:\n `\n <div style=\"\n text-align:center;\n padding:30px;\n color:#64748b\">\n Select device\n </div>\n `\n };\n\n node.send(out);\n return null;\n}\n\n\nflow.set(\n'selected_serial',\nserial\n);\n\n\nconst cache =\nglobal.get('settings_cache') || {};\n\n\nconst s =\ncache[serial] || {};\n\n\nconst onlineMap =\nglobal.get('online_map') || {};\n\n\nconst online =\n!onlineMap[serial] ||\nonlineMap[serial].online !== false;\n\n\nconst color =\nonline ? '#22c55e':'#ef4444';\n\n\n\nout[0]={\npayload:\n`\n\n<div class=\"device-summary\">\n\n<div class=\"device-main\">\n\n<div class=\"device-title-row\">\n\n<div class=\"device-dot\"\nstyle=\"background:${color}\">\n</div>\n\n\n<div>\n\n<div class=\"device-name\">\n${serial}\n</div>\n\n\n<div class=\"device-status\"\nstyle=\"color:${color}\">\n${online?'ONLINE':'OFFLINE'}\n</div>\n\n\n</div>\n\n</div>\n\n</div>\n\n\n\n<div class=\"device-stats\">\n\n\n<div>\n<span>Battery</span>\n<strong>\n${BAT_LABEL[s.battery_type]||'-'}\n</strong>\n</div>\n\n\n<div>\n<span>Capacity</span>\n<strong>\n${s.capacity_ah||'-'} Ah\n</strong>\n</div>\n\n\n<div>\n<span>LVD</span>\n<strong>\n${s.lvd_mode?'Voltage':'SOC'}\n</strong>\n</div>\n\n\n<div>\n<span>Mode</span>\n<strong>\n${NL_LABEL[s.night_mode]||'-'}\n</strong>\n</div>\n\n\n</div>\n\n\n</div>\n\n`\n};\n\n\n\n// widgets\nout[1]={payload:s.battery_type ? String(s.battery_type) : \"\"};\nout[2]={payload:s.capacity_ah || \"\"};\nout[3]={payload:s.lvd_voltage_mv || \"\"};\nout[4]={payload:s.lvd_mode ?? \"\"};\n\nout[5]={payload:s.night_mode ? String(s.night_mode) : \"\"};\nout[6]={payload:s.evening_minutes || \"\"};\nout[7]={payload:s.morning_minutes || \"\"};\nout[8]={payload:s.night_threshold_mv || \"\"};\n\nout[9]={payload:s.dimming_mode ? String(s.dimming_mode) : \"\"};\nout[10]={payload:s.evening_minutes_dimming || \"\"};\nout[11]={payload:s.morning_minutes_dimming || \"\"};\n\nout[12]={payload:s.dimming_pct || \"\"};\nout[13]={payload:s.base_dimming_pct || \"\"};\n\nout[14]={payload:s.dali_power_enable ?? \"\"};\nout[15]={payload:s.alc_dimming_enable ?? \"\"};\n\nnode.send(out);\n\nreturn null;","outputs":18,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":140,"wires":[["ui-dev-info"],["w-bat-type"],["w-cap-ah"],["w-lvd-v"],["w-lvd-mode"],["w-night-mode"],["w-eve-min"],["w-morn-min"],["w-night-thresh"],["w-dim-mode"],["w-dim-eve-min"],["w-dim-morn-min"],["w-dim-pct"],["w-base-dim-pct"],["w-dali"],["w-alc"],[],[]]},{"id":"fn-widget-change","type":"function","z":"tab-control","name":"Store widget value","func":"// @refactor:v1\n// Store widget value in unified widget_state map (keyed by widget topic).\nconst s = flow.get('widget_state') || {};\ns[msg.topic] = msg.payload;\nflow.set('widget_state', s);\nreturn null;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":680,"wires":[[]]},{"id":"fn-btn-router","type":"function","z":"tab-control","name":"Button router","func":"if (msg.topic === 'send')   return [msg, null];\nif (msg.topic === 'reload') return [null, msg];\nreturn null;","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":800,"wires":[["fn-build-cmd"],["fn-reload"]]},{"id":"fn-reload","type":"function","z":"tab-control","name":"Reload from cache","func":"const serial = flow.get('selected_serial');\nif (!serial) return null;\nmsg.payload = serial;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":880,"wires":[["fn-on-device-select"]]},{"id":"fn-build-cmd","type":"function","z":"tab-control","name":"Build settings cmd","func":"// @refactor:v1\n// Build a SET_SETTINGS command containing only the fields that diverge from\n// the device's last known settings. Inputs:\n//   - global.settings_cache[serial]  baseline (kept in sync by Ingestion tab)\n//   - flow.widget_state              current widget values, by widget topic\n// No flow-level baseline clone -- single source of truth.\n\nconst serial = flow.get('selected_serial');\nif (!serial) return null;\n\nconst baseline = (global.get('settings_cache') || {})[serial];\nif (!baseline) { node.warn('No settings cached for ' + serial); return null; }\n\nconst fleet = global.get('fleet') || {};\nconst dev   = fleet[serial] || {};\nconst zone  = dev.zone       || 'default';\nconst gw    = dev.gateway_id || 'unknown';\n\nconst ws     = flow.get('widget_state') || {};\nconst toInt  = (v) => { const n = parseInt(v); return isNaN(n) ? undefined : n; };\nconst toBool = (v) => v === true || v === 'true';\n\nconst current = {\n    battery_type:            toInt(ws['w-bat-type']),\n    capacity_ah:             toInt(ws['w-cap-ah']),\n    lvd_voltage_mv:          toInt(ws['w-lvd-v']),\n    lvd_mode:                toBool(ws['w-lvd-mode']) ? 1 : 0,\n    night_mode:              toInt(ws['w-night-mode']),\n    evening_minutes:         toInt(ws['w-eve-min']),\n    morning_minutes:         toInt(ws['w-morn-min']),\n    night_threshold_mv:      toInt(ws['w-night-thresh']),\n    dimming_mode:            toInt(ws['w-dim-mode']),\n    evening_minutes_dimming: toInt(ws['w-dim-eve-min']),\n    morning_minutes_dimming: toInt(ws['w-dim-morn-min']),\n    dimming_pct:             toInt(ws['w-dim-pct']),\n    base_dimming_pct:        toInt(ws['w-base-dim-pct']),\n};\n\nconst setSettings = {};\nlet changeCount = 0;\nfor (const [k, v] of Object.entries(current)) {\n    if (v !== undefined && v !== baseline[k]) {\n        setSettings[k] = v;\n        changeCount++;\n    }\n}\n\nconst curDali = toBool(ws['w-dali']);\nconst curAlc  = toBool(ws['w-alc']);\nif (curDali !== !!baseline.dali_power_enable || curAlc !== !!baseline.alc_dimming_enable) {\n    setSettings.advanced_flags = (curDali ? 1 : 0) | (curAlc ? 2 : 0);\n    changeCount++;\n}\n\nif (changeCount === 0) { node.warn('No changes vs baseline for ' + serial); return null; }\n\nconst requestId = serial + '_' + Date.now();\nmsg.topic   = 'mppt/' + zone + '/' + gw + '/' + serial + '/cmd';\nmsg.payload = { request_id: requestId, timestamp: Math.floor(Date.now()/1000), set_settings: setSettings };\n\n// Log entry, bounded to 50.\nconst ts    = new Date().toLocaleTimeString();\nconst entry = '<div style=\"font-size:12px;padding:4px 0;border-bottom:1px solid #334155\">' +\n    '<span style=\"color:#64748b\">' + ts + '</span> ' +\n    '<span style=\"color:#3b82f6;font-weight:600\">SEND</span> ' +\n    serial + ' - ' + requestId +\n    ' <span style=\"color:#eab308\">(' + changeCount + ' changed)</span></div>';\nconst log = flow.get('cmd_log_arr') || [];\nlog.unshift(entry);\nif (log.length > 50) log.length = 50;\nflow.set('cmd_log_arr', log);\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":800,"wires":[["encode-cmd","fn-show-log"]]},{"id":"mo-cmd","type":"mqtt out","z":"tab-control","name":"mqtt out cmd","topic":"","qos":"1","retain":"false","broker":"mqtt-broker-config","x":990,"y":680,"wires":[]},{"id":"fn-show-log","type":"function","z":"tab-control","name":"Show log","func":"const log = flow.get('cmd_log_arr') || [];\n\nmsg.payload =\n`\n<div class=\"cmdlog-container\">\n    ${log.length ? log.join('') :\n    '<span class=\"cmdlog-empty\">No commands sent yet.</span>'}\n</div>\n`;\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":840,"wires":[["ui-cmd-log"]]},{"id":"mi-ack","type":"mqtt in","z":"tab-control","name":"mppt/+/+/+/ack","topic":"mppt/+/+/+/ack","qos":"1","datatype":"buffer","broker":"mqtt-broker-config","inputs":0,"x":200,"y":940,"wires":[["decode-ack"]]},{"id":"fn-handle-ack","type":"function","z":"tab-control","name":"Handle ack","func":"// @refactor:v1\n// Append an ACK entry to the bounded log array and render the full log.\n\nconst p      = msg.topic.split('/');\nconst serial = p.length >= 4 ? p[3] : '?';\nconst ts     = new Date().toLocaleTimeString();\nconst pl     = msg.payload || {};\n\nconst ok     = pl.ok;\nconst reason = pl.reason || '';\nconst reqId  = pl.request_id || '';\n\nconst color = ok ? '#4ade80' : '#f87171';\nconst label = ok ? 'ACK \\u2713' : 'ACK \\u2717';\nconst idStr = reqId ? ' <span style=\"color:#475569\">[' + reqId.split('_').pop() + ']</span>' : '';\n\nconst entry =\n    '<div style=\"font-size:12px;padding:4px 0;border-bottom:1px solid #1e293b\">' +\n    '<span style=\"color:#475569\">' + ts + '</span> ' +\n    '<span style=\"color:' + color + ';font-weight:700\">' + label + '</span> ' +\n    '<span style=\"color:#94a3b8\">' + serial + '</span>' + idStr +\n    (reason ? '<span style=\"color:#64748b\"> - ' + reason + '</span>' : '') +\n    '</div>';\n\nconst log = flow.get('cmd_log_arr') || [];\nlog.unshift(entry);\nif (log.length > 50) log.length = 50;\nflow.set('cmd_log_arr', log);\n\nmsg.payload =\n`\n<div class=\"cmdlog-container\">\n    ${log.join('')}\n</div>\n`;\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":940,"wires":[["ui-cmd-log"]]},{"id":"fn-update-device-list","type":"function","z":"tab-control","name":"Update device list","func":"const fleet     = global.get('fleet')      || {};\nconst onlineMap = global.get('online_map') || {};\n\nconst selected = flow.get('selected_serial') || \"\";\n\nconst opts = Object.keys(fleet).sort().map(s => {\n\n    const dev = fleet[s] || {};\n    const zone = dev.zone || 'default';\n\n    const online =\n        onlineMap[s] ?\n        onlineMap[s].online !== false :\n        true;\n\n    return {\n        value: s,\n        label:\n            s +\n            ' [' + zone + '] ' +\n            (online ? '●' : '○')\n    };\n});\n\nopts.unshift({\n    value:\"\",\n    label:\"-- Select Device --\"\n});\n\n\nmsg.payload = opts;\n\n\n// keep current selection\nmsg.ui_update = {\n    options: opts,\n    value: selected\n};\n\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":1020,"wires":[["w-device-select"]]},{"id":"decode-ack","type":"decode","z":"tab-control","name":"Decode Ack","protofile":"b5f019f3f202939d","protoType":"CommandAck","x":430,"y":940,"wires":[["fn-handle-ack"]]},{"id":"encode-cmd","type":"encode","z":"tab-control","name":"Encode Command","protofile":"b5f019f3f202939d","protoType":"ControlCommand","x":770,"y":700,"wires":[["mo-cmd"]]},{"id":"261fd498aeee5a39","type":"function","z":"tab-control","name":"Cache settings","func":"const p      = msg.topic ? msg.topic.split('/') : [];\nconst serial = p[3];\nif (!serial) return [null, {}];\nconst selected = flow.get('selected_serial');\nreturn (selected === serial) ? [{ payload: serial }, {}] : [null, {}];\n","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":980,"wires":[["fn-update-device-list"],[]]},{"id":"1ef19ce9e84983e3","type":"function","z":"tab-control","name":"Cache info","func":"const p = msg.topic.split('/');\nif (p.length < 5) return null;\nconst serial = p[3];\nconst d = msg.payload || {};\nconst infoMap = global.get('info_map') || {};\n\ninfoMap[serial] = {\n    type:             d.device_type || d.type || '',\n    production_date:  d.production_date || '',\n    hw_version:       d.hw_version || 0,\n    serial_number:    d.serial_number || serial\n};\n\nglobal.set('info_map', infoMap);\nreturn null;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":1060,"wires":[["fn-update-device-list"]]},{"id":"link-from-ingestion","type":"link in","z":"tab-control","name":"Link from Ingestion","links":[],"x":330,"y":1020,"wires":[["fn-update-device-list"]]},{"id":"inj-control-sync","type":"inject","z":"tab-control","name":"Sync List","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":120,"y":1020,"wires":[["fn-update-device-list"]]},{"id":"ui-map-picker","type":"ui-template","z":"tab-control","group":"ui-grp-location","page":"","ui":"","name":"Map Picker","order":1,"width":"0","height":"0","format":"\n<link rel=\"stylesheet\" href=\"https://unpkg.com/leaflet@1.9.4/dist/leaflet.css\" />\n<div id=\"map-picker\" style=\"height: 400px; width: 100%; border-radius: 8px; border: 1px solid #334155;\"></div>\n<div style=\"margin-top: 10px; display: flex; gap: 10px; align-items: center;\">\n    <span style=\"color: #64748b; font-size: 14px;\">Lat: <strong id=\"lbl-lat\">-</strong></span>\n    <span style=\"color: #64748b; font-size: 14px;\">Lon: <strong id=\"lbl-lon\">-</strong></span>\n</div>\n\n<script src=\"https://unpkg.com/leaflet@1.9.4/dist/leaflet.js\"></script>\n<script>\n    (function() {\n        let map, marker;\n        \n        function initMap() {\n            const container = document.getElementById('map-picker');\n            if (!container || map) return;\n            \n            map = L.map('map-picker').setView([33.5731, -7.5898], 6);\n            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {\n                attribution: '© OpenStreetMap'\n            }).addTo(map);\n\n            map.on('click', function(e) {\n                const { lat, lng } = e.latlng;\n                updateMarker(lat, lng);\n                // Send to Node-RED\n                if (window.RED && window.RED.dashboard) {\n                    window.RED.dashboard.send({ payload: { lat, lon: lng } });\n                }\n            });\n        }\n\n        function updateMarker(lat, lon) {\n            document.getElementById('lbl-lat').innerText = lat.toFixed(6);\n            document.getElementById('lbl-lon').innerText = lon.toFixed(6);\n            if (marker) {\n                marker.setLatLng([lat, lon]);\n            } else {\n                marker = L.marker([lat, lon]).addTo(map);\n            }\n        }\n\n        // Initialize when element is ready\n        const timer = setInterval(() => {\n            if (typeof L !== 'undefined' && document.getElementById('map-picker')) {\n                initMap();\n                clearInterval(timer);\n            }\n        }, 200);\n\n        // Listen for incoming messages to set marker (e.g. when selecting a device)\n        window.RED.dashboard.onUpdate((msg) => {\n            if (msg.payload && msg.payload.lat && msg.payload.lon) {\n                const pos = [msg.payload.lat, msg.payload.lon];\n                if (map) {\n                    map.setView(pos, 13);\n                    updateMarker(msg.payload.lat, msg.payload.lon);\n                }\n            }\n        });\n    })();\n</script>\n","storeOutMessages":true,"passthru":true,"templateScope":"local","className":"","x":400,"y":1200,"wires":[["fn-store-temp-loc"]]},{"id":"fn-store-temp-loc","type":"function","z":"tab-control","name":"Store Temp Loc","func":"flow.set('temp_lat', msg.payload.lat);\nflow.set('temp_lon', msg.payload.lon);\nreturn null;","outputs":1,"x":600,"y":1200,"wires":[[]]},{"id":"btn-save-loc","type":"ui-button","z":"tab-control","group":"ui-grp-location","name":"Save Location","label":"Save Device Location","order":2,"width":"0","height":"0","emulateClick":false,"color":"primary","className":"","icon":"","iconPosition":"left","payload":"","payloadType":"str","topic":"save_location","topicType":"str","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":400,"y":1260,"wires":[["fn-write-loc-influx"]]},{"id":"fn-write-loc-influx","type":"function","z":"tab-control","name":"Prep Influx Loc","func":"\nconst serial = flow.get('selected_serial');\nif (!serial) { node.warn('No device selected'); return null; }\n\nconst lat = flow.get('temp_lat');\nconst lon = flow.get('temp_lon');\nif (lat === undefined || lon === undefined) { node.warn('No location selected on map'); return null; }\n\n// Update cache\nconst locCache = global.get('location_cache') || {};\nlocCache[serial] = { lat, lon };\nglobal.set('location_cache', locCache);\n\nmsg.payload = { lat, lon };\nmsg.tags = { serial };\nreturn [msg, { payload: 'Location saved for ' + serial, _ui: { action: 'notify', type: 'success' } }];\n","outputs":2,"x":600,"y":1260,"wires":[["influx-out-loc"],["ui-notify-loc"]]},{"id":"influx-out-loc","type":"influxdb out","z":"tab-control","influxdb":"influxdb-config","name":"Write Location","measurement":"device_locations","precision":"ms","org":"${INFLUXDB_ORG}","bucket":"${INFLUXDB_BUCKET}","x":800,"y":1260,"wires":[]},{"id":"ui-notify-loc","type":"ui-notification","z":"tab-control","ui":"ui-base-main","position":"top-right","outputs":1,"name":"Notify Location","x":800,"y":1320,"wires":[[]]},{"id":"fn-get-loc-from-cache","type":"function","z":"tab-control","name":"Get Loc from Cache","func":"const serial = msg.payload;\nconst locMap = global.get('location_cache') || {};\nif (locMap[serial]) {\n    return { payload: locMap[serial] };\n}\nreturn null;","outputs":1,"x":400,"y":1150,"wires":[["ui-map-picker"]]},{"id":"b8c6f64348639b7d","type":"ui-template","z":"tab-control","group":"","page":"","ui":"ui-base-main","name":"MPPT custom CSS compact","order":"","width":"","height":"","format":"<style>\n\n:root {\n\n--bg:#080b12;\n\n--panel:#10141d;\n\n--panel2:#151a24;\n\n--border:#252d3a;\n\n--text:#d6d9e0;\n\n--muted:#7f899b;\n\n--blue:#64748b;\n\n}\n\n\n.nrdb-ui-page {\n background:#020617!important;\n}\n\n\n.nrdb-ui-group {\n\n background:#0f172a!important;\n\n border:\n 1px solid #1e293b!important;\n\n border-radius:16px!important;\n\n box-shadow:\n 0 8px 25px rgba(0,0,0,.25)!important;\n\n padding:14px!important;\n\n}\n\n\n/* group titles */\n\n.nrdb-ui-group-title {\n\n color:#e5e7eb!important;\n\n font-weight:800!important;\n\n letter-spacing:.08em;\n\n font-size:12px!important;\n\n}\n\n\n/* =====================\n DEVICE HEADER\n===================== */\n\n\n#ui-dev-info > div {\n\n background:#111827!important;\n\n border:1px solid #334155!important;\n\n border-radius:16px!important;\n\n padding:20px!important;\n\n min-height:unset!important;\n\n}\n\n\n.device-summary {\n\ndisplay:grid!important;\n\ngrid-template-columns:\n1fr auto;\n\ngap:28px;\n\nalign-items:center;\n\npadding-left:18px;\npadding-right:18px;\n\n}\n\n\n.device-title-row {\n\n display:flex!important;\n\n align-items:center;\n\n gap:14px;\n\n}\n\n\n.device-dot {\n\n width:14px;\n height:14px;\n\n border-radius:50%;\n\n}\n\n\n.device-name {\n\n color:#f8fafc!important;\n\n font-size:24px!important;\n\n font-weight:800!important;\n\n}\n\n\n.device-status {\n\n margin-top:5px;\n\n font-size:11px;\n\n font-weight:900;\n\n}\n\n\n.device-stats {\n\n display:flex!important;\n\n gap:10px!important;\n\n}\n\n\n.device-stats div {\n\n background:#0b1220!important;\n\n border:\n 1px solid #334155;\n\n border-radius:12px;\n\n padding:12px 15px;\n\n min-width:90px;\n\n}\n\n\n.device-stats span {\n\n color:#64748b!important;\n\n font-size:10px;\n\n font-weight:700;\n\n}\n\n\n.device-stats strong {\n\n color:#f1f5f9!important;\n\n font-size:15px;\n\n}\n\n\n/* =====================\n INPUTS\n===================== */\n\n\n.v-field {\n\n background:#020617!important;\n\n border:\n 1px solid #334155!important;\n\n border-radius:12px!important;\n\n}\n\n\n.v-field__input,\ninput {\n\n color:#f8fafc!important;\n\n}\n\n\nlabel {\n\n color:#94a3b8!important;\n\n}\n\n\n/* =====================\n BUTTONS\n===================== */\n\n\n.mppt-btn-primary button {\n\n background:#2563eb!important;\n\n border-radius:12px!important;\n\n height:42px!important;\n\n font-weight:800!important;\n\n}\n\n\n.mppt-btn-secondary button {\n\n background:#334155!important;\n\n border-radius:12px!important;\n\n}\n\n/* =====================\nCOMMAND LOG\n===================== */\n\n\n#ui-cmd-log,\n#ui-cmd-log > div,\n#ui-cmd-log .v-card,\n#ui-cmd-log .v-card-text {\n\nwidth:100%!important;\nheight:100%!important;\nmax-width:none!important;\nbox-sizing:border-box!important;\n\n}\n\n\n.nrdb-ui-text {\n\nwidth:100%!important;\n\n}\n\n\n.nrdb-ui-text .v-card {\n\nbackground:transparent!important;\nbox-shadow:none!important;\n\n}\n\n\n\n.cmdlog-container {\n\nwidth:100%!important;\nheight:100%!important;\n\nmin-height:260px;\n\nbackground:#0b1220!important;\n\nborder:\n1px solid #1e293b!important;\n\nborder-radius:14px;\n\npadding:18px;\n\ncolor:#cbd5e1;\n\nfont-family:monospace;\n\noverflow:auto;\n\nbox-sizing:border-box;\n\n}\n\n\n/* log rows */\n\n.cmdlog-container > div {\n\npadding:8px 4px!important;\n\nborder-bottom:\n1px solid #1e293b!important;\n\n}\n\n\n/* timestamps */\n\n.cmdlog-container span {\n\ncolor:#64748b;\n\n}\n\n\n/* empty state */\n\n.cmdlog-empty {\n\ncolor:#475569!important;\n\nfont-style:italic;\n\n}\n\n\n/* dropdown */\n\n.v-overlay-container .v-list {\n\n background:#111827!important;\n\n}\n\n\n.v-list-item {\n\n color:#e5e7eb!important;\n\n}\n\n\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"site:style","className":"","x":1040,"y":220,"wires":[[]]},{"id":"9b69e1e010b80a1d","type":"mqtt in","z":"49cbeaef5b7252c7","name":"mppt/+/+/+/info","topic":"mppt/+/+/+/info","qos":"1","datatype":"buffer","broker":"mqtt-broker-config","inputs":0,"x":80,"y":40,"wires":[["87ab38ae9c875487"]]},{"id":"da73d1cfc73e289b","type":"function","z":"49cbeaef5b7252c7","name":"Cache info","func":"const p = msg.topic.split('/');\nif (p.length < 5) return null;\nconst serial = p[3];\nconst d = msg.payload || {};\n\nconst infoMap = global.get('info_map') || {};\ninfoMap[serial] = {\n    type:            d.device_type || '',\n    production_date: d.production_date || '',\n    hw_version:      d.hw_version || 0,\n    serial_number:   d.serial_number || serial,\n};\nglobal.set('info_map', infoMap);\n\n// Forward so the control tab device list refreshes\nmsg.payload = serial;\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":40,"wires":[["b4f5a1d19b5959a8"]]},{"id":"2d9cd796cbdf678a","type":"mqtt in","z":"49cbeaef5b7252c7","name":"mppt/+/+/+/settings","topic":"mppt/+/+/+/settings","qos":"1","datatype":"buffer","broker":"mqtt-broker-config","inputs":0,"x":80,"y":100,"wires":[["f3a8f3d197460395"]]},{"id":"5e4ab6474871953f","type":"function","z":"49cbeaef5b7252c7","name":"Cache settings","func":"const BAT_MAP={BATTERY_TYPE_UNKNOWN:0,BATTERY_AGM:1,BATTERY_LIQUID:2,BATTERY_LFP:3,BATTERY_LFP_HIGH_TEMP:4,BATTERY_LFP_MEDIUM_TEMP:5,BATTERY_LFP_LOW_TEMP:6};\nconst LVD_MAP={LVD_MODE_SOC:0,LVD_MODE_VOLTAGE:1};\nconst NIGHT_MAP={NIGHT_MODE_ALWAYS_ON:0,NIGHT_MODE_D2D:1,NIGHT_MODE_DD:2,NIGHT_MODE_MN:3};\nfunction normEnum(v,map){if(v===null||v===undefined)return 0;if(typeof v==='object'&&'value'in v)v=v.value;if(typeof v==='string'&&map[v]!==undefined)return map[v];return parseInt(v)||0;}\n\nconst p = msg.topic.split('/');\nconst serial = p[3];\nconst d = msg.payload || {};\nconst settingsMap = global.get('settings_cache') || {};\n\nsettingsMap[serial] = {\n    battery_type:               normEnum(d.battery_type, BAT_MAP),\n    capacity_ah:                d.capacity_ah             || 100,\n    lvd_voltage_mv:             d.lvd_voltage_mv           || 11000,\n    lvd_mode:                   normEnum(d.lvd_mode, LVD_MAP),\n    night_mode:                 normEnum(d.night_mode, NIGHT_MAP),\n    evening_minutes:            d.evening_minutes          || 0,\n    morning_minutes:            d.morning_minutes          || 0,\n    night_threshold_mv:         d.night_threshold_mv       || 11500,\n    dimming_mode:               normEnum(d.dimming_mode, NIGHT_MAP),\n    evening_minutes_dimming:    d.evening_minutes_dimming  || 0,\n    morning_minutes_dimming:    d.morning_minutes_dimming  || 0,\n    dimming_pct:                d.dimming_pct              || 100,\n    base_dimming_pct:           d.base_dimming_pct         || 30,\n    dali_power_enable:          !!(d.advanced_flags & 1),\n    alc_dimming_enable:         !!(d.advanced_flags & 2),\n    advanced_flags:             d.advanced_flags           || 0\n};\nglobal.set('settings_cache', settingsMap);\n\n// Re-populate control panel if this device is currently selected\nconst selected = flow.get('selected_serial');\nreturn (selected === serial) ? [{ payload: serial }] : [null];\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":100,"wires":[["b4f5a1d19b5959a8"]]},{"id":"582501c58d187777","type":"mqtt in","z":"49cbeaef5b7252c7","name":"mppt/+/+/+/online","topic":"mppt/+/+/+/online","qos":"0","datatype":"auto","broker":"mqtt-broker-config","inputs":0,"x":80,"y":160,"wires":[["44e8048bdb9a31c7"]]},{"id":"44e8048bdb9a31c7","type":"function","z":"49cbeaef5b7252c7","name":"Detect offline","func":"const p = msg.topic.split('/');\nconst serial = p[3];\nconst zone = p[1];\nconst isOnline = msg.payload.toString().trim() === '1';\nconst key = 'online_' + serial;\nconst wasOnline = context.get(key);\ncontext.set(key, isOnline);\n\nconst onlineMap = global.get('online_map') || {};\nonlineMap[serial] = { online: isOnline, ts: new Date().toISOString() };\nglobal.set('online_map', onlineMap);\n\nif (!isOnline && wasOnline !== false) {\n    const ts = new Date().toISOString();\n    return [{ payload: {\n        severity: 'critical', condition: 'Device offline',\n        emailNeeded: true, serial, zone, ts,\n        subject: '[MPPT CRITICAL] ' + serial + ' offline',\n        body: 'Device ' + serial + ' (zone: ' + zone + ') went offline at ' + ts\n    }}];\n}\nif (isOnline && wasOnline === false) {\n    node.log(serial + ' back online');\n}\nreturn null;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":160,"wires":[["198ed4fa2f5ea608"]]},{"id":"198ed4fa2f5ea608","type":"function","z":"49cbeaef5b7252c7","name":"Format email","func":"if (!msg.payload || !msg.payload.subject) return null;\nmsg.topic = msg.payload.subject;\nmsg.payload = msg.payload.body;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":160,"wires":[["ecc26e5a8bac00cc"]]},{"id":"ecc26e5a8bac00cc","type":"e-mail","z":"49cbeaef5b7252c7","d":true,"server":"${SMTP_HOST}","port":"${SMTP_PORT}","authtype":"BASIC","saslformat":false,"token":"oauth2Response.access_token","secure":false,"tls":true,"name":"${ALERT_EMAIL}","dname":"Alert email","x":790,"y":160,"wires":[]},{"id":"cdf2198b32eb2343","type":"mqtt in","z":"49cbeaef5b7252c7","name":"mppt/+/+/+/state","topic":"mppt/+/+/+/state","qos":"0","datatype":"buffer","broker":"mqtt-broker-config","inputs":0,"x":80,"y":240,"wires":[["9b6b928df9280b75"]]},{"id":"0a45b34ada16db11","type":"function","z":"49cbeaef5b7252c7","name":"Parse state","func":"const p = msg.topic.split('/');\nif (p.length < 5) return [null, null, null];\nconst zone  = p[1];\nconst gw    = p[2];\nconst serial= p[3];\nconst d     = msg.payload || {};\n\n// Pull hw_version from info cache as fallback\nconst info  = (global.get('info_map') || {})[serial] || {};\nconst hwVer = String(d.hw_version || info.hw_version || 0);\n\n// Fault mask -> individual boolean fields for InfluxDB\nconst fm = d.fault_mask || 0;\nconst faults = {\n    battery_over_voltage:   (fm & 0x01) ? 1 : 0,\n    pv_over_voltage:        (fm & 0x02) ? 1 : 0,\n    controller_over_temp:   (fm & 0x04) ? 1 : 0,\n    charge_over_current:    (fm & 0x08) ? 1 : 0,\n    lvd_active:             (fm & 0x10) ? 1 : 0,\n    over_discharge_current: (fm & 0x20) ? 1 : 0,\n    battery_over_temp:      (fm & 0x40) ? 1 : 0,\n    battery_under_temp:     (fm & 0x80) ? 1 : 0,\n};\n\n//  Update fleet state (used by overview dashboard)\nconst fleet = global.get('fleet') || {};\nfleet[serial] = {\n    serial, zone, gateway_id: gw, hw_version: hwVer,\n    bat: {\n        battery_voltage_mv:      d.battery_voltage_mv      || 0,\n        battery_soc_pct:         d.battery_soc_pct         || 0,\n        charge_current_ma:       d.charge_current_ma10 * 10 || 0,\n        charge_power_w:          d.charge_power_w          || 0,\n        end_of_charge_voltage_mv:d.end_of_charge_voltage_mv|| 0,\n        charge_mode:             d.charge_mode             || 'unknown',\n        is_night:                !!( d.flags & (1 << 1) ),\n        bat_op_days:             d.bat_op_days             || 0,\n        energy_in_daily_wh:      d.energy_in_daily_wh      || 0,\n        energy_out_daily_wh:     d.energy_out_daily_wh     || 0,\n        energy_retained_wh:      d.energy_retained_wh      || 0,\n        detected:                !!( d.flags & (1 << 0) ),\n        charge_state_mask:       d.charge_state_mask       || 0,\n    },\n    load: {\n        load_on:         !!( d.flags & (1 << 2) ),\n        night_mode:      !!( d.flags & (1 << 3) ),\n        lvd_active:      !!( d.flags & (1 << 4) ),\n        user_disconnect: !!( d.flags & (1 << 5) ),\n        over_current:    !!( d.flags & (1 << 6) ),\n        load_current_ma:  d.load_current_ma10 * 10 || 0,\n        load_power_w:       d.load_power_w      || 0,\n        state_mask:         d.load_state_mask   || 0,\n    },\n    pv: {\n        pv_voltage_mv:        d.pv_voltage_mv        || 0,\n        pv_target_voltage_mv: d.pv_target_voltage_mv || 0,\n        detected:             !!( d.flags & (1 << 7) ),\n    },\n    faults,\n    ts: Math.floor(Date.now() / 1000),\n};\nglobal.set('fleet', fleet);\n\nconst dev = fleet[serial];\nconst tags = { zone, gateway_id: gw, serial, hw_version: hwVer,\n               charge_mode: d.charge_mode || 'unknown' };\n\n// Output 1: influxdb telemetry fields\nconst telFields = {\n    battery_voltage_mv:   d.battery_voltage_mv   || 0,\n    soc_pct:              d.battery_soc_pct      || 0,\n    charge_current_ma:  d.charge_current_ma10 * 10 || 0,\n    charge_power_w:       d.charge_power_w       || 0,\n    is_night:             dev.bat.is_night        ? 1 : 0,\n    energy_in_daily_wh:   d.energy_in_daily_wh   || 0,\n    energy_out_daily_wh:  d.energy_out_daily_wh  || 0,\n    energy_retained_wh:   d.energy_retained_wh   || 0,\n    load_on:              dev.load.load_on        ? 1 : 0,\n    lvd_active:           (dev.load.lvd_active || faults.lvd_active) ? 1 : 0,\n    load_current_ma:    d.load_current_ma10  * 10 || 0,\n    load_power_w:         d.load_power_w          || 0,\n    pv_voltage_mv:        d.pv_voltage_mv         || 0,\n    pv_target_voltage_mv: d.pv_target_voltage_mv  || 0,\n    internal_temp_c:      d.internal_temp_c       || 0,\n    external_temp_c:      d.external_temp_c       || 0,\n    led_voltage_mv:       d.led_voltage_mv        || 0,\n    led_current_ma:     d.led_current_ma10 * 10      || 0,\n    led_power_w:          d.led_power_w           || 0,\n    load_state_mask:      d.load_state_mask       || 0,\n    charge_state_mask:    d.charge_state_mask     || 0,\n    flags:                d.flags                 || 0,\n};\n\n// Output 0: alert msg\nconst alertMsg = {\n    serial, zone,\n    soc_pct:   d.battery_soc_pct || 0,\n    faults,\n    lvd_active: dev.load.lvd_active,\n    ts: new Date().toISOString(),\n};\n\nreturn [\n    { payload: alertMsg },\n    { payload: [telFields, tags] },\n    { payload: [faults,   tags] },\n];\n","outputs":3,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":240,"wires":[["8fb8b1b239e72ada"],["320fb69fc13712c2"],["a8e61ccc99c2c7f0"]]},{"id":"8fb8b1b239e72ada","type":"function","z":"49cbeaef5b7252c7","name":"Alert logic","func":"const { serial, zone, soc_pct, faults, lvd_active, ts } = msg.payload;\n\nconst checks = [\n    { cond: soc_pct > 0 && soc_pct < 10,  label: 'Battery SOC critical (' + soc_pct + '%)' },\n    { cond: !!(faults.lvd_active || lvd_active), label: 'LVD active' },\n    { cond: !!faults.battery_over_voltage,        label: 'Battery over voltage' },\n    { cond: !!faults.over_discharge_current,      label: 'Over discharge current' },\n    { cond: !!faults.battery_over_temp,           label: 'Battery over temperature' },\n    { cond: !!faults.battery_under_temp,          label: 'Battery under temperature' },\n];\n\nconst triggered = checks.filter(c => c.cond);\nif (!triggered.length) return null;\n\n// Emit one email per alert condition\nreturn triggered.map(c => ({\n    payload: {\n        subject: '[MPPT CRITICAL] ' + serial + ' - ' + c.label,\n        body:    'Device: ' + serial + '\\nZone: ' + zone + '\\nCondition: ' + c.label + '\\nTimestamp: ' + ts,\n    }\n}));\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":240,"wires":[["198ed4fa2f5ea608"]]},{"id":"320fb69fc13712c2","type":"influxdb out","z":"49cbeaef5b7252c7","influxdb":"influxdb-config","name":"Write telemetry","measurement":"telemetry","precision":"ms","retentionPolicy":"","database":"","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"${INFLUXDB_ORG}","bucket":"${INFLUXDB_BUCKET}","x":760,"y":340,"wires":[]},{"id":"a8e61ccc99c2c7f0","type":"influxdb out","z":"49cbeaef5b7252c7","influxdb":"influxdb-config","name":"Write faults","measurement":"faults","precision":"ms","retentionPolicy":"","database":"","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"${INFLUXDB_ORG}","bucket":"${INFLUXDB_BUCKET}","x":760,"y":400,"wires":[]},{"id":"2729391e65770e2f","type":"mqtt in","z":"49cbeaef5b7252c7","name":"mppt/+/+/+/datalog/#","topic":"mppt/+/+/+/datalog/#","qos":"1","datatype":"buffer","broker":"mqtt-broker-config","inputs":0,"x":80,"y":500,"wires":[["72eec4da202f1472"]]},{"id":"65895d1aa0704ce8","type":"function","z":"49cbeaef5b7252c7","name":"Process Datalog","func":"const p = msg.topic.split('/');\nif (p.length < 6) return [null, null, null];\nconst [, zone, gateway, serial,, sub] = p;\n\nconst dl  = msg.payload;\nconst info = (global.get('info_map') || {})[serial] || {};\nconst ct  = { serial, gateway_id: gateway, zone, hw_version: String(info.hw_version || 0) };\n\nfunction unpackStateFlags(sf) {\n    return {\n        load_disconnect:  (sf >> 0) & 1,\n        full_charge:      (sf >> 1) & 1,\n        pv_over_current:  (sf >> 2) & 1,\n        load_over_current:(sf >> 3) & 1,\n        bat_over_voltage: (sf >> 4) & 1,\n        low_soc:          (sf >> 5) & 1,\n        temp_pv_over:     (sf >> 6) & 1,\n        temp_pv_low:      (sf >> 7) & 1,\n        temp_load_over:   (sf >> 8) & 1,\n    };\n}\n\nfunction scaleEntry(e, indexKey, ahMul, socScale, isMonthly) {\n    return {\n        [indexKey]:      e.index          || 0,\n        vbat_min_mv:     (e.vbat_min_mv   || 0) * 100,\n        vbat_max_mv:     (e.vbat_max_mv   || 0) * 100,\n        vpv_min_mv:      (e.vpv_min_mv    || 0) * 500,\n        vpv_max_mv:      (e.vpv_max_mv    || 0) * 500,\n        ah_charge_mah:   (e.ah_charge_mah || 0) * ahMul,\n        ah_load_mah:     (e.ah_load_mah   || 0) * ahMul,\n        il_max_ma:       (e.il_max_ma     || 0) * 500,\n        ipv_max_ma:      (e.ipv_max_ma    || 0) * 500,\n        soc_pct:         (e.soc_pct       || 0) * (isMonthly ? (socScale * 6.6) : (socScale)),\n        ext_temp_max_c:  e.ext_temp_max_c || 0,\n        ext_temp_min_c:  e.ext_temp_min_c || 0,\n        nightlength_min: (e.nightlength_min|| 0) * 10,\n        ...unpackStateFlags(e.state_flags  || 0),\n    };\n}\n\nif (sub === 'summary') {\n    return [{ payload: [{\n        recorded_days:              dl.recorded_days              || 0,\n        days_with_lvd:              dl.days_with_lvd              || 0,\n        months_without_full_charge: dl.months_without_full_charge || 0,\n        avg_morning_soc_pct:        (dl.recorded_days > 0) ? dl.avg_morning_soc_pct * 6.6 / dl.recorded_days : 0 || 0,\n        total_ah_charge_mah:        dl.total_ah_charge_mah / 10   || 0,\n        total_ah_load_mah:          dl.total_ah_load_mah / 10     || 0,\n    }, ct] }, null, null];\n}\n\nif (sub === 'daily') {\n    const msgs = (dl.daily_logs || []).map(e => ({\n        payload: [scaleEntry(e, 'day_num', 100, 6.6, false),\n                  { ...ct, day_index: String(e.index) }],\n    }));\n    return [null, msgs.length ? msgs : null, null];\n}\n\nif (sub === 'monthly') {\n    const msgs = (dl.monthly_logs || []).map(e => ({\n        payload: [scaleEntry(e, 'month_num', 1000, 1, true),\n                  { ...ct, month_index: String(e.index) }],\n    }));\n    node.warn(msgs);\n    return [null, null, msgs.length ? msgs : null];\n}\n\nreturn [null, null, null];\n","outputs":3,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":500,"wires":[["56b7d438bf891bd5"],["0c17b53b156e10e4"],["cb2b78fb1a6ec828"]]},{"id":"56b7d438bf891bd5","type":"influxdb out","z":"49cbeaef5b7252c7","influxdb":"influxdb-config","name":"Write summary","measurement":"datalogger_summary","precision":"ms","retentionPolicy":"","database":"","precisionV18FluxV20":"ms","org":"${INFLUXDB_ORG}","bucket":"${INFLUXDB_BUCKET_HISTORY}","x":680,"y":460,"wires":[]},{"id":"0c17b53b156e10e4","type":"influxdb out","z":"49cbeaef5b7252c7","influxdb":"influxdb-config","name":"Write daily","measurement":"datalogger_daily","precision":"ms","retentionPolicy":"","database":"","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"${INFLUXDB_ORG}","bucket":"${INFLUXDB_BUCKET_HISTORY}","x":680,"y":500,"wires":[]},{"id":"cb2b78fb1a6ec828","type":"influxdb out","z":"49cbeaef5b7252c7","influxdb":"influxdb-config","name":"Write monthly","measurement":"datalogger_monthly","precision":"ms","retentionPolicy":"","database":"","precisionV18FluxV20":"ms","org":"${INFLUXDB_ORG}","bucket":"${INFLUXDB_BUCKET_HISTORY}","x":680,"y":540,"wires":[]},{"id":"87ab38ae9c875487","type":"decode","z":"49cbeaef5b7252c7","name":"","protofile":"b5f019f3f202939d","protoType":"DeviceInfo","x":280,"y":40,"wires":[["da73d1cfc73e289b"]]},{"id":"f3a8f3d197460395","type":"decode","z":"49cbeaef5b7252c7","name":"","protofile":"b5f019f3f202939d","protoType":"DeviceSettings","x":260,"y":100,"wires":[["5e4ab6474871953f"]]},{"id":"9b6b928df9280b75","type":"decode","z":"49cbeaef5b7252c7","name":"","protofile":"b5f019f3f202939d","protoType":"Telemetry","x":280,"y":240,"wires":[["0a45b34ada16db11"]]},{"id":"72eec4da202f1472","type":"decode","z":"49cbeaef5b7252c7","name":"","protofile":"b5f019f3f202939d","protoType":"DataloggerPayload","x":260,"y":500,"wires":[["65895d1aa0704ce8"]]},{"id":"b4f5a1d19b5959a8","type":"link out","z":"49cbeaef5b7252c7","name":"Link to Control","mode":"link","links":["link-from-ingestion"],"x":715,"y":60,"wires":[]},{"id":"d4047ce63f176d42","type":"inject","z":"eba24091a5f898ac","name":"Every 5s","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":80,"y":60,"wires":[["47e1c6d5c92c1076"]]},{"id":"47e1c6d5c92c1076","type":"function","z":"eba24091a5f898ac","name":"Build overview HTML","func":"const fleet = global.get('fleet') || {};\nconst onlineMap = global.get('online_map') || {};\nconst serials = Object.keys(fleet).sort();\n\nif (!serials.length) {\n    const empty = '<p style=\"color:#94a3b8;padding:24px;text-align:center;font-style:italic\">No devices detected on the network yet.</p>';\n    return [{ payload: empty }, { payload: empty }];\n}\n\n\nlet totalDevices = serials.length;\nlet onlineCount = 0;\nlet faultCount = 0;\nlet totalSoc = 0;\nlet totalCharge = 0;\nlet socSamples = 0;\n\n\nfor (const s of serials) {\n\n    const d = fleet[s] || {};\n    const om = onlineMap[s];\n\n\n    if (!om || om.online) {\n        onlineCount++;\n    }\n\n\n    if (\n        d.faults &&\n        (\n            d.faults.any_fault ||\n            Object.values(d.faults).some(v => v === 1 || v === true)\n        )\n    ) {\n        faultCount++;\n    }\n\n\n    const soc = Number(d?.bat?.battery_soc_pct);\n    const charge = Number(d?.bat?.charge_power_w);\n\n\n    if (Number.isFinite(soc)) {\n        totalSoc += soc;\n        socSamples++;\n    }\n\n\n    if (Number.isFinite(charge)) {\n        totalCharge += charge;\n    }\n}\n\n\nconst avgSoc = socSamples\n    ? Math.round(totalSoc / socSamples)\n    : 0;\n\n\nconst offlineCount = totalDevices - onlineCount;\n\n\n\nfunction statCard(label, value, sub, color) {\n\nreturn `\n<div style=\"\nbackground:#1e293b;\nborder:1px solid:#334155;\nborder-radius:14px;\nmin-height:160px;\npadding:24px;\ndisplay:flex;\nflex-direction:column;\njustify-content:center;\nalign-items:center;\nbox-sizing:border-box;\n\">\n\n<div style=\"\nfont-size:52px;\nfont-weight:800;\ncolor:${color};\n\">\n${value}\n</div>\n\n\n<div style=\"\nmargin-top:12px;\ncolor:#94a3b8;\nfont-size:14px;\nfont-weight:700;\ntext-transform:uppercase;\n\">\n${label}\n</div>\n\n\n${sub ? `\n<div style=\"\nmargin-top:6px;\ncolor:#64748b;\nfont-size:11px;\n\">\n${sub}\n</div>\n` : ''}\n\n\n</div>`;\n}\n\n\n\n\nconst summaryHtml = `\n\n<div style=\"\nwidth:100%;\ndisplay:grid;\ngrid-template-columns:repeat(5,minmax(0,1fr));\ngap:16px;\n\">\n\n${statCard(\n'Devices',\ntotalDevices,\n'total',\n'#3b82f6'\n)}\n\n\n${statCard(\n'Online',\nonlineCount,\nofflineCount + ' offline',\n'#22c55e'\n)}\n\n\n${statCard(\n'Avg SOC',\navgSoc + '%',\n'',\navgSoc > 50 ? '#22c55e' : avgSoc > 20 ? '#f59e0b' : '#ef4444'\n)}\n\n\n${statCard(\n'Charge',\nMath.round(totalCharge) + ' W',\n'fleet total',\n'#3b82f6'\n)}\n\n\n${statCard(\n'Faults',\nfaultCount,\nfaultCount ? 'devices with issues' : 'all clear',\nfaultCount ? '#ef4444' : '#22c55e'\n)}\n\n</div>\n`;\n\n\n\n\nlet rows = '';\n\n\n\nfor (const s of serials) {\n\n\nconst d = fleet[s] || {};\nconst om = onlineMap[s] || {online:true};\n\n\nconst online = om.online;\n\n\n\nconst soc =\nNumber(d?.bat?.battery_soc_pct) || 0;\n\n\nconst vbat =\n(Number(d?.bat?.battery_voltage_mv) || 0) / 1000;\n\n\nconst icharge =\n(Number(d?.bat?.charge_current_ma) || 0) / 1000;\n\n\nconst iload =\n(Number(d?.load?.load_current_ma) || 0);\n\n\n\nconst faults =\nd.faults &&\n(\nd.faults.any_fault ||\nObject.values(d.faults).some(v => v === 1 || v === true)\n);\n\n\n\nrows += `\n\n<tr style=\"border-bottom:1px solid #334155\">\n\n\n<td style=\"padding:14px 12px\">\n\n<div style=\"display:flex;align-items:center\">\n\n\n<div style=\"\nwidth:8px;\nheight:8px;\nborder-radius:50%;\nbackground:${online ? '#22c55e':'#ef4444'};\nmargin-right:10px;\n\"></div>\n\n\n\n<div>\n\n<div style=\"\nfont-weight:600;\ncolor:#f1f5f9;\n\">\n${s}\n</div>\n\n\n<div style=\"\nfont-size:11px;\ncolor:#64748b;\n\">\n${d.zone || 'N/A'} / ${d.gateway_id || 'N/A'}\n</div>\n\n\n</div>\n\n\n</div>\n\n</td>\n\n\n\n\n<td style=\"padding:14px;text-align:center\">\n\n\n<div style=\"\nbackground:#334155;\nheight:6px;\nborder-radius:999px;\n\">\n\n\n<div style=\"\nwidth:${soc}%;\nheight:100%;\nborder-radius:999px;\nbackground:${soc > 50 ? '#22c55e' : soc > 20 ? '#f59e0b':'#ef4444'};\n\"></div>\n\n\n</div>\n\n\n<span style=\"\ncolor:#f1f5f9;\nfont-weight:700;\n\">\n${soc}%\n</span>\n\n\n</td>\n\n\n\n\n<td style=\"text-align:center;color:#f1f5f9\">\n${vbat.toFixed(2)}V\n</td>\n\n\n\n<td style=\"\ntext-align:center;\ncolor:#3b82f6;\nfont-weight:600;\n\">\n${icharge.toFixed(2)}A\n</td>\n\n\n\n<td style=\"\ntext-align:center;\ncolor:#f59e0b;\nfont-weight:600;\n\">\n${iload.toFixed(2)}mA\n</td>\n\n\n\n\n<td style=\"text-align:center\">\n\n${\nfaults\n?\n`\n<span style=\"\nbackground:#ef4444;\ncolor:white;\npadding:4px 10px;\nborder-radius:999px;\nfont-size:11px;\nfont-weight:700;\n\">\nFAULT\n</span>\n`\n:\n`\n<span style=\"\ncolor:#22c55e;\nfont-size:18px;\n\">\n✓\n</span>\n`\n}\n\n</td>\n\n\n</tr>\n\n`;\n\n}\n\n\n\nconst tableHtml = `\n\n<div style=\"width:100%\">\n\n\n<table style=\"\nwidth:100%;\ntable-layout:fixed;\nborder-collapse:collapse;\ncolor:#94a3b8;\nfont-size:13px;\n\">\n\n\n<thead>\n\n\n<tr style=\"\nborder-bottom:2px solid #334155;\n\">\n\n\n<th style=\"width:40%;padding:10px;text-align:left\">\nDevice / Zone\n</th>\n\n\n<th style=\"width:14%;padding:10px;text-align:center\">\nSOC\n</th>\n\n\n<th style=\"width:12%;padding:10px;text-align:center\">\nBat V\n</th>\n\n\n<th style=\"width:12%;padding:10px;text-align:center\">\nCharge\n</th>\n\n\n<th style=\"width:12%;padding:10px;text-align:center\">\nLoad\n</th>\n\n\n<th style=\"width:10%;padding:10px;text-align:center\">\nStatus\n</th>\n\n\n</tr>\n\n\n</thead>\n\n\n<tbody>\n\n${rows}\n\n</tbody>\n\n\n</table>\n\n\n</div>\n\n`;\n\n\n\nreturn [\n    {payload: summaryHtml},\n    {payload: tableHtml}\n];","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":60,"wires":[["c377cfe0f1575df6"],["d7c1f17af3be68f1"]]},{"id":"c377cfe0f1575df6","type":"ui-text","z":"eba24091a5f898ac","group":"ui-grp-fleet","order":1,"width":"0","height":"0","name":"Fleet Summary","label":"","format":"html","layout":"row-center","style":false,"font":"","fontSize":"","color":"#000000","wrapText":true,"className":"","value":"payload","valueType":"msg","x":520,"y":40,"wires":[]},{"id":"d7c1f17af3be68f1","type":"ui-text","z":"eba24091a5f898ac","group":"ui-grp-devices","order":1,"width":"0","height":"0","name":"Device Table","label":"","format":"html","layout":"row-center","style":false,"font":"","fontSize":"","color":"#000000","wrapText":true,"className":"","value":"payload","valueType":"msg","x":520,"y":80,"wires":[]}]